Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

contracts: fix typechain packaging (#2984)
  .changeset/lazy-ducks-reply.md
  .changeset/tasty-pugs-begin.md
  packages/contracts/package.json
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/state-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/transaction-enqueued.ts
  yarn.lock
Due: lerna-packages-changed, itests-critical-lerna-package-changed

ops-bedrock: less logging with `make devnet-up` (#2988)
  ops-bedrock/devnet-up.sh
Due: none

style(ctp): move TeleportrWithdrawer to L1 folder (#2995)
  .changeset/shiny-dolls-hope.md
  packages/contracts-periphery/contracts/L1/TeleportrWithdrawer.sol
Due: lerna-packages-changed

meta: versioning doc
  specs/meta/versioning.md
Due: bedrock-markdown-changed

style(ctp): clean up Drippie natspec (#2994)
  .changeset/rare-trees-whisper.md
  packages/contracts-periphery/contracts/universal/AssetReceiver.sol
  packages/contracts-periphery/contracts/universal/Transactor.sol
  packages/contracts-periphery/contracts/universal/drippie/Drippie.sol
Due: lerna-packages-changed

op-node: version local go modules
  op-node/go.mod
  op-node/go.sum
Due: bedrock-go-packages-changed

op-proposer version local go modules
  op-proposer/go.mod
  op-proposer/go.sum
Due: bedrock-go-packages-changed

style(ctb): clean up RLP lib natspec (#2973)
  .changeset/lucky-parents-deliver.md
  packages/contracts-bedrock/contracts/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPWriter.sol
Due: lerna-packages-changed

op-batcher: version local go modules
  op-batcher/go.mod
  op-batcher/go.sum
Due: bedrock-go-packages-changed

op-e2e: version local go modules
  op-e2e/go.mod
  op-e2e/go.sum
Due: bedrock-go-packages-changed

meta: update versioning doc
  specs/meta/versioning.md
Due: bedrock-markdown-changed

contracts-governance: clean up the hardhat config (#2989)
  .changeset/empty-eels-move.md
  packages/contracts-governance/hardhat.config.ts
  packages/contracts-governance/scripts/deploy-token.ts
  packages/contracts-governance/scripts/deposit.ts
Due: lerna-packages-changed

specs: fix markdown lint in meta spec doc
  specs/meta/versioning.md
Due: bedrock-markdown-changed

specs: fix markdown lint in meta spec doc (#2999)
  specs/meta/versioning.md
Due: bedrock-markdown-changed

ci: move `op-bindings` check to own job (#2981)
  .circleci/config.yml
  packages/contracts-bedrock/README.md
Due: lerna-packages-changed

ci: fix publishing of ci-builder
  .changeset/itchy-carpets-fail.md
  .github/workflows/release.yml
Due: none

feat(sdk): update Goerli addresses (#2993)
  .changeset/chatty-moles-grow.md
  packages/sdk/src/utils/contracts.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

ci: fix publishing of ci-builder (#3004)
  .changeset/itchy-carpets-fail.md
  .github/workflows/release.yml
Due: none

ci: updates version of bash in ci-builder
  .changeset/slow-peaches-sit.md
  ops/docker/ci-builder/Dockerfile
Due: none

ci: updates version of bash in ci-builder (#3007)
  .changeset/slow-peaches-sit.md
  ops/docker/ci-builder/Dockerfile
Due: none

deps: use node version v16.16.0
  .nvmrc
Due: none

ops: delete dead docker images
  .github/workflows/release.yml
  ops/docker/go-builder/CHANGELOG.md
  ops/docker/go-builder/Dockerfile
  ops/docker/go-builder/package.json
  ops/docker/js-builder/CHANGELOG.md
  ops/docker/js-builder/Dockerfile
  ops/docker/js-builder/package.json
Due: none

ci: ci-builder fix
  .changeset/heavy-shoes-know.md
  .github/workflows/release.yml
Due: none

fix(ctb): minor L1 semver/init cleanup
  .changeset/new-weeks-compete.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

op-node: update attributes derivation docs
  op-node/rollup/derive/attributes.go
Due: bedrock-go-packages-changed

op-node: test AttributesQueue
  op-node/rollup/derive/attributes_queue_test.go
Due: bedrock-go-packages-changed

op-node: test attributes derivation
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/attributes_test.go
  op-node/rollup/derive/deposit_log_test.go
  op-node/testutils/mock_l1.go
Due: bedrock-go-packages-changed

op-node: unify verifier and sequencer payload attributes preparation
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/deposit_log_test.go
  op-node/rollup/derive/deposits.go
  op-node/rollup/driver/step.go
  op-node/testutils/mock_l1.go
Due: bedrock-go-packages-changed

fix(ctb): minor L1 semver/init cleanup (#2998)
  .changeset/new-weeks-compete.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

chore(ctb): Remove some todos in messenger and portal
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Due: lerna-packages-changed

chore: Remove unresolved TODOs
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

feat(ctb): ensure replayed messages have zero value
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

ci(ctb): don't fail ci on snapshot diff
  .circleci/config.yml
Due: none

ci(ctb): don't fail ci on snapshot diff (#3021)
  .circleci/config.yml
Due: none

op-node: unify verifier and sequencer payload attributes preparation (#2925)
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/attributes_queue_test.go
  op-node/rollup/derive/attributes_test.go
  op-node/rollup/derive/deposit_log_test.go
  op-node/rollup/derive/deposits.go
  op-node/rollup/driver/step.go
  op-node/testutils/mock_l1.go
Due: bedrock-go-packages-changed

ci: temporary pause to devnet in ci
  .circleci/config.yml
Due: none

ci: temporary pause to devnet in ci (#3025)
  .circleci/config.yml
Due: none

fix(ctb): clear most linting warnings
  .changeset/serious-tigers-greet.md
  packages/contracts-bedrock/.solhint.json
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/L2/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/contracts/legacy/ResolvedDelegateProxy.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/Semver.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Due: lerna-packages-changed

style(ctb): clean MerkleTrie and SecureMerkleTrie
  .changeset/few-mails-cough.md
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/libraries/trie/SecureMerkleTrie.sol
Due: lerna-packages-changed

fix(ctb): clean up BytesUtils
  .changeset/beige-eggs-jog.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/contracts/libraries/BytesUtils.sol
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

Path conditions:
  lerna-packages-changed: any of: packages/.*
  bedrock-go-packages-changed: any of: op-(batcher|bindings|e2e|node|proposer)/.*
  bedrock-markdown-changed: any of: specs/.*\.md
  go-binaries-changed: any of: (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.*
  l2geth-changed: any of: l2geth/.*
  itests-critical-lerna-package-changed: any of: packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.*
  itests-critical-go-package-changed: any of: (batch-submitter|gas-oracle|bss-core)/.*
  integration-tests-changed: any of: integration-tests/.*
