Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

test(ctb): add test for stuck ETH on failed msg (#3029)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
Due: lerna-packages-changed

fix (op-proposer): use safe head in block range
  op-proposer/drivers/l2output/driver.go
Due: bedrock-go-packages-changed

ci: parallel build of bindings
  .circleci/config.yml
  op-bindings/Makefile
  op-bindings/README.md
Due: bedrock-go-packages-changed

op-node: conf depth filter should not filter out genesis
  op-node/rollup/driver/conf_depth.go
  op-node/rollup/driver/conf_depth_test.go
Due: bedrock-go-packages-changed

op-node: conf depth filter should not filter out genesis (#3042)
  op-node/rollup/driver/conf_depth.go
  op-node/rollup/driver/conf_depth_test.go
Due: bedrock-go-packages-changed

test(ctb): reentrancy on relay
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
Due: lerna-packages-changed

op-batcher: improve logging
  op-batcher/batch_submitter.go
Due: bedrock-go-packages-changed

op-e2e: increase sequence window size, and update missing-batch test with comments to clarify behavior
  op-e2e/system_test.go
Due: bedrock-go-packages-changed

proxyd: fix close response body for non 200 response
  proxyd/backend.go
Due: go-binaries-changed

proxyd: fix add read and write timout to rpc server
  proxyd/server.go
Due: go-binaries-changed

proxyd: update dockerfile
  proxyd/Dockerfile
Due: go-binaries-changed

proxyd: add ulimit to entrypoint script
  proxyd/entrypoint.sh
Due: go-binaries-changed

test(ctb): reentrancy on relay (#3039)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
Due: lerna-packages-changed

op-e2e: stabilize CI testing (#3046)
  op-batcher/batch_submitter.go
  op-e2e/system_test.go
Due: bedrock-go-packages-changed

op-node: update engine queue to reset full seq window, bug found by @trianglesphere
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/engine_queue.go
Due: bedrock-go-packages-changed

test(ctb): bridge return to sender on fail
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20Factory.t.sol
Due: lerna-packages-changed

Op-Node: Fix reset/reorg logic
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/pipeline.go
  op-node/testutils/mock_l1.go
Due: bedrock-go-packages-changed

Op-Node: Restore sync package
  op-node/rollup/sync/start.go
  op-node/rollup/sync/start_test.go
Due: bedrock-go-packages-changed

OP Node: Add time invariant check to reset step
  op-node/rollup/derive/engine_queue.go
Due: bedrock-go-packages-changed

Don't skip L1 Origin in reset step
  op-node/rollup/derive/batch_queue.go
Due: bedrock-go-packages-changed

redeployed goerli l1 contracts
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridge.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracle.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableERC20FactoryProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortal.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortalProxy.json
  packages/contracts-bedrock/deployments/goerli/solcInputs/2fa8540786b9185f15d2ec7eec37edde.json
Due: lerna-packages-changed

op-e2e: Wait longer for Optimism Portal Deploy
  op-e2e/setup.go
Due: bedrock-go-packages-changed

fix(ctb): Edit inaccurate comment about refunds
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Due: lerna-packages-changed

op-e2e: Wait longer for Optimism Portal Deploy (#3049)
  op-e2e/setup.go
Due: bedrock-go-packages-changed

fix(ctb): Edit inaccurate comment about refunds (#3045)
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Due: lerna-packages-changed

test(ctb): bridge return to sender on fail (#3041)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20Factory.t.sol
Due: lerna-packages-changed

style(ctb): fix revert messages globally
  .changeset/brown-islands-listen.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/RLPReader.t.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

style(ctb): fix revert messages globally (#3005)
  .changeset/brown-islands-listen.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/RLPReader.t.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

Fix issue related to resolving genesis l2 head
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/engine_queue_test.go
Due: bedrock-go-packages-changed

ctb: Pass args in xdm and bridge as calldata
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

ctb: Pass args in xdm and bridge as calldata (#3038)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

fix: get events with a smaller block range
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

batch derivation spec draft
  specs/derivation.md
  specs/rollup-node.md
Due: bedrock-markdown-changed

add diagrams, fix recovery-from-reorg wording
  specs/assets/batch-deriv-chain.svg
  specs/assets/batch-deriv-pipeline.svg
  specs/derivation.md
Due: bedrock-markdown-changed

update spec to cover channel ID timestamp
  specs/derivation.md
Due: bedrock-markdown-changed

specs: update batch derivation diagrams
  specs/assets/batch-deriv-chain.svg
  specs/assets/batch-deriv-pipeline.svg
Due: none

feat(bedrock): Versioned TransactionDeposited event
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  op-node/rollup/derive/deposit_log.go
  op-node/rollup/derive/deposit_log_test.go
  op-node/rollup/derive/fuzz_parsers_test.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

op-node: Add comment to clarify deserialization
  op-node/rollup/derive/deposit_log.go
Due: bedrock-go-packages-changed

core-utils: update deposit transaction serialization
  .changeset/red-cows-divide.md
  packages/core-utils/src/optimism/deposit-transaction.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

feat(bedrock): Versioned TransactionDeposited event (#2965)
  .changeset/red-cows-divide.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  op-node/rollup/derive/deposit_log.go
  op-node/rollup/derive/deposit_log_test.go
  op-node/rollup/derive/fuzz_parsers_test.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/core-utils/src/optimism/deposit-transaction.ts
Due: lerna-packages-changed, bedrock-go-packages-changed, itests-critical-lerna-package-changed

Path conditions:
  lerna-packages-changed: any of: packages/.*
  bedrock-go-packages-changed: any of: op-(batcher|bindings|e2e|node|proposer)/.*
  bedrock-markdown-changed: any of: specs/.*\.md
  go-binaries-changed: any of: (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.*
  l2geth-changed: any of: l2geth/.*
  itests-critical-lerna-package-changed: any of: packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.*
  itests-critical-go-package-changed: any of: (batch-submitter|gas-oracle|bss-core)/.*
  integration-tests-changed: any of: integration-tests/.*
