Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

go mod tidy
  go.work.sum
  op-batcher/go.mod
  op-batcher/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-proposer/go.mod
  op-proposer/go.sum
Due: bedrock-go-packages-changed

OP Node: Remove l2geth import
  op-node/rollup/derive/calldata_source_test.go
Due: bedrock-go-packages-changed

Fix leaky timer.After
  bss-core/service.go
Due: go-binaries-changed, itests-critical-go-package-changed

Revert "run yarn dedupe (#2933)"
  yarn.lock
Due: none

Revert "chore: Add yarn-deduplicate script to deduplicate along with github action (#2900)"
  .changeset/yellow-maps-clap.md
  .github/workflows/yarn-dedupe.yml
  package.json
  yarn.lock
Due: none

feat(ctb): standardize Universal contracts
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/gaspriceoracle_deployed.go
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/lib_addressmanager.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  op-bindings/predeploys/addresses.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20Factory.t.sol
  packages/contracts-bedrock/contracts/test/Proxy.t.sol
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableTokenFactory.sol
  packages/contracts-bedrock/contracts/universal/Proxy.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/contracts-bedrock/contracts/universal/SupportedInterfaces.sol
  packages/contracts-bedrock/deploy/004-OptimismMintableERC20Factory.ts
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/storage-snapshot.sh
  packages/contracts-bedrock/src/constants.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
  specs/bridges.md
  specs/predeploys.md
  yarn.lock
Due: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed

style(ctb): move external contracts to vendor dir
  .changeset/nasty-moons-rush.md
  packages/contracts-bedrock/.prettierignore
  packages/contracts-bedrock/.solhintignore
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/vendor/AddressAliasHelper.sol
  packages/contracts-bedrock/contracts/vendor/WETH9.sol
Due: lerna-packages-changed

contracts-bedrock: nohoist the smart contract deps
  package.json
Due: none

CI: Add go mod tidy check (#2931)
  .circleci/config.yml
  go.work.sum
  op-batcher/go.mod
  op-batcher/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-node/rollup/derive/calldata_source_test.go
  op-proposer/go.mod
  op-proposer/go.sum
Due: bedrock-go-packages-changed

Eager Batch Derivation
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/attributes_queue_test.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batch_queue_test.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/l1_retrieval.go
  op-node/rollup/derive/pipeline.go
  op-node/testlog/testlog.go
Due: bedrock-go-packages-changed

Cleanup inclusion block
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batches.go
Due: bedrock-go-packages-changed

Batch Queue: Add tests
  op-node/rollup/derive/batch_queue_test.go
  op-node/rollup/derive/progress.go
Due: bedrock-go-packages-changed

Fix lint + go mod tidy
  go.work.sum
  op-batcher/go.mod
  op-batcher/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-node/rollup/derive/attributes_queue.go
  op-proposer/go.mod
  op-proposer/go.sum
Due: bedrock-go-packages-changed

revert testlog
  op-node/testlog/testlog.go
Due: bedrock-go-packages-changed

backport fixes from attributes-cleanup
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/batch_queue.go
Due: bedrock-go-packages-changed

Update op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batch_queue.go
Due: bedrock-go-packages-changed

better logging
  op-node/rollup/derive/batch_queue.go
Due: bedrock-go-packages-changed

fix lint
  op-node/rollup/derive/batch_queue.go
Due: bedrock-go-packages-changed

explain anti overflow check
  op-node/rollup/derive/batch_queue.go
Due: bedrock-go-packages-changed

use timestamp as RNG seed
  op-node/rollup/derive/batch_queue_test.go
Due: bedrock-go-packages-changed

address PR comments
  op-node/rollup/derive/batch_queue.go
Due: bedrock-go-packages-changed

contracts-bedrock: delete unused import (#2929)
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20.t.sol
Due: lerna-packages-changed

Fix leaky timer.After (#2932)
  bss-core/service.go
Due: go-binaries-changed, itests-critical-go-package-changed

style(ctb): move external contracts to vendor dir (#2924)
  .changeset/nasty-moons-rush.md
  packages/contracts-bedrock/.prettierignore
  packages/contracts-bedrock/.solhintignore
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/vendor/AddressAliasHelper.sol
  packages/contracts-bedrock/contracts/vendor/WETH9.sol
Due: lerna-packages-changed

chore: Add yarn-deduplicate script to deduplicate along with github action (#2900)
  .changeset/yellow-maps-clap.md
  .github/workflows/yarn-dedupe.yml
  package.json
  yarn.lock
Due: none

don't test for dedupe in ci
  .github/workflows/yarn-dedupe.yml
Due: none

don't dedupe in ci but run it now
  package.json
  yarn.lock
Due: none

only adjust maxL2Time based on minL2Time when epoch is not already started
  op-node/rollup/derive/batch_queue.go
Due: bedrock-go-packages-changed

fix(ctb): universal contract comments/errs/events
  .changeset/gorgeous-buses-switch.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableTokenFactory.t.sol
  packages/contracts-bedrock/contracts/test/Proxy.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableTokenFactory.sol
  packages/contracts-bedrock/contracts/universal/Proxy.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/contracts-bedrock/contracts/universal/SupportedInterfaces.sol
Due: lerna-packages-changed

fix(ctb): universal contract comments/errs/events (#2940)
  .changeset/gorgeous-buses-switch.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableTokenFactory.t.sol
  packages/contracts-bedrock/contracts/test/Proxy.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableTokenFactory.sol
  packages/contracts-bedrock/contracts/universal/Proxy.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/contracts-bedrock/contracts/universal/SupportedInterfaces.sol
Due: lerna-packages-changed

deps: update typechain to 8.1.0
  .changeset/great-grapes-explain.md
  packages/contracts-bedrock/package.json
  yarn.lock
Due: lerna-packages-changed

fix(ctb): bug computing L2 timestamp
  .changeset/funny-garlics-arrive.md
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
Due: lerna-packages-changed

bedrock: fix computeL2Timestamp block time
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
Due: lerna-packages-changed

bedrock: regenerate bindings
  op-bindings/bindings/l2outputoracle.go
Due: bedrock-go-packages-changed

only adjust maxL2Time based on minL2Time when epoch is not already started (#2939)
  op-node/rollup/derive/batch_queue.go
Due: bedrock-go-packages-changed

bedrock: Add chugsplash proxy to bridge tests
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
Due: lerna-packages-changed

bedrock: Add delegateProxy to forge tests
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed

test(ctb): add gas benchmark tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/BenchmarkTest.t.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
Due: lerna-packages-changed

test(ctb): Benchmark deposits at INITIAL_BASE_FEE
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/BenchmarkTest.t.sol
Due: lerna-packages-changed

Eager Batch Derivation (#2882)
  go.work.sum
  op-batcher/go.mod
  op-batcher/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/attributes_queue_test.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batch_queue_test.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/l1_retrieval.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/derive/progress.go
  op-node/testlog/testlog.go
  op-proposer/go.mod
  op-proposer/go.sum
Due: bedrock-go-packages-changed

Path conditions:
  lerna-packages-changed: any of: packages/.*
  bedrock-go-packages-changed: any of: op-(batcher|bindings|e2e|node|proposer)/.*
  bedrock-markdown-changed: any of: specs/.*\.md
  go-binaries-changed: any of: (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.*
  l2geth-changed: any of: l2geth/.*
  itests-critical-lerna-package-changed: any of: packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.*
  itests-critical-go-package-changed: any of: (batch-submitter|gas-oracle|bss-core)/.*
  integration-tests-changed: any of: integration-tests/.*
