Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  semgrep-scan:
    parameters:
      diff_branch:
        type: string
        default: develop
    environment:
      TEMPORARY_BASELINE_REF: << parameters.diff_branch >>
      SEMGREP_REPO_URL: << pipeline.project.git_url >>
      SEMGREP_BRANCH: << pipeline.git.branch >>
      SEMGREP_COMMIT: << pipeline.git.revision >>

      # Change job timeout (default is 1800 seconds; set to 0 to disable)
      SEMGREP_TIMEOUT: 3000

    docker:
      - image: returntocorp/semgrep
    resource_class: xlarge
    steps:
      - checkout
      - unless:
          condition:
            equal: [ "develop", << pipeline.git.branch >> ]
          steps:
            - run:
                # Scan changed files in PRs, block on new issues only (existing issues ignored)
                # Do a full scan when scanning develop, otherwise do an incremental scan.
                name: "Conditionally set BASELINE env var"
                command: |
                  echo 'export SEMGREP_BASELINE_REF=${TEMPORARY_BASELINE_REF}' >> $BASH_ENV
      - run:
          name: "Set environment variables" # for PR comments and in-app hyperlinks to findings
          command: |
            echo 'export SEMGREP_PR_ID=${CIRCLE_PULL_REQUEST##*/}' >> $BASH_ENV
            echo 'export SEMGREP_JOB_URL=$CIRCLE_BUILD_URL' >> $BASH_ENV
            echo 'export SEMGREP_REPO_NAME=$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME' >> $BASH_ENV
      - run:
          name: "Semgrep scan"
          command: semgrep ci

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-modifications
          mapping: |
            packages/.* lerna-packages-changed true
            op-(batcher|bindings|e2e|node|proposer)/.* bedrock-go-packages-changed true
            specs/.*\.md bedrock-markdown-changed true
            (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.* go-binaries-changed true
            l2geth/.* l2geth-changed true
            packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.* itests-critical-lerna-package-changed true
            (batch-submitter|gas-oracle|bss-core)/.* itests-critical-go-package-changed true
            integration-tests/.* integration-tests-changed true
          base-revision: develop
          config-path: .circleci/config-packages.yml
      - semgrep-scan

style(ctb): remove errs in virtual fns (#2975)
  .changeset/weak-pens-push.md
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

contracts-bedrock: less compiler warnings (#2970)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/RLPReader.t.sol
Due: lerna-packages-changed

op-bindings: test that op-bindings predeploy addresses match geth
  op-bindings/predeploys/addresses_test.go
Due: bedrock-go-packages-changed

go: update bedrock geth dependency
  go.work
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/go.mod
  op-bindings/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-proposer/go.mod
  op-proposer/go.sum
Due: bedrock-go-packages-changed

op-e2e: drop old Enabled flag
  op-e2e/setup.go
Due: bedrock-go-packages-changed

contracts-bedrock: move DepositTx to core-utils (#2971)
  .changeset/three-wasps-burn.md
  packages/contracts-bedrock/helpers/index.ts
  packages/contracts-bedrock/src/index.ts
  packages/contracts-bedrock/tasks/deposits.ts
  packages/core-utils/src/optimism/deposit-transaction.ts
  packages/core-utils/src/optimism/index.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

style(ctb): clean up PredeployAddresses (#2967)
  .changeset/shaggy-radios-unite.md
  packages/contracts-bedrock/contracts/libraries/PredeployAddresses.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
Due: lerna-packages-changed

bedrock: fix L1 cost fee cache, rpc, tracing and tx pool (#2963)
  go.work
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/go.mod
  op-bindings/go.sum
  op-bindings/predeploys/addresses_test.go
  op-e2e/go.mod
  op-e2e/go.sum
  op-e2e/setup.go
  op-node/go.mod
  op-node/go.sum
  op-proposer/go.mod
  op-proposer/go.sum
Due: bedrock-go-packages-changed

bedrock-goerli genesis from commit 69ee68
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridgeProxy.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableTokenFactoryProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortalProxy.json
  packages/contracts-bedrock/deployments/goerli/solcInputs/6658e3fd5601f689e56bcac3b135b23e.json
Due: lerna-packages-changed

style(ctb): refactor Hashing and Encoding libs (#2974)
  .changeset/breezy-books-remember.md
  op-bindings/bindings/optimismportal.go
  op-node/withdrawals/utils.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/libraries/CrossDomainHashing.sol
  packages/contracts-bedrock/contracts/libraries/CrossDomainUtils.sol
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/libraries/Hashing.sol
  packages/contracts-bedrock/contracts/libraries/WithdrawalVerifier.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

bedrock-goerli genesis from commit 69ee68 (#2978)
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridgeProxy.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableTokenFactoryProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortalProxy.json
  packages/contracts-bedrock/deployments/goerli/solcInputs/6658e3fd5601f689e56bcac3b135b23e.json
Due: lerna-packages-changed

contracts-bedrock: port RLPWriter tests (#2945)
  .changeset/empty-nails-talk.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/RLPWriter.t.sol
Due: lerna-packages-changed

ci: move `op-bindings` check to own job
  .circleci/config.yml
Due: none

contracts-bedrock: update readme
  packages/contracts-bedrock/README.md
Due: lerna-packages-changed

op-node: testnet fixes - sanity check L2 block after block derivation pipeline reset, and fix log level of attributes queue
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/engine_queue.go
Due: bedrock-go-packages-changed

Update op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/attributes_queue.go
Due: bedrock-go-packages-changed

op-node: testnet fixes - sanity check L2 block after block derivation reset (#2982)
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/engine_queue.go
Due: bedrock-go-packages-changed

contracts: fix typechain packaging
  .changeset/tasty-pugs-begin.md
  packages/contracts/package.json
Due: lerna-packages-changed, itests-critical-lerna-package-changed

ops-bedrock: move docker files into their module dirs
  op-batcher/Dockerfile
  op-batcher/docker.go.work
  op-node/Dockerfile
  op-node/docker.go.work
  op-proposer/Dockerfile
  op-proposer/docker.go.work
  ops-bedrock/docker-compose.yml
Due: bedrock-go-packages-changed

deps: update typechain
  packages/contracts/package.json
  yarn.lock
Due: lerna-packages-changed, itests-critical-lerna-package-changed

contracts-periphery: add typechain
  .changeset/famous-schools-argue.md
  packages/contracts-periphery/hardhat.config.ts
  packages/contracts-periphery/package.json
  yarn.lock
Due: lerna-packages-changed

dtl: fix typechain import
  .changeset/lazy-ducks-reply.md
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/state-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/transaction-enqueued.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

ops-bedrock: less logging with `make devnet-up`
  ops-bedrock/devnet-up.sh
Due: none

ctp: fix depcheck
  packages/contracts-periphery/.depcheckrc
Due: lerna-packages-changed

style(ctb): clean up hashing and encoding libs
  .changeset/curvy-numbers-shake.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/libraries/Hashing.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

contracts-governance: clean up the hardhat config
  .changeset/empty-eels-move.md
  packages/contracts-governance/hardhat.config.ts
  packages/contracts-governance/scripts/deposit.ts
Due: lerna-packages-changed

contracts-governance: more cleanup
  packages/contracts-governance/hardhat.config.ts
  packages/contracts-governance/scripts/deploy-token.ts
Due: lerna-packages-changed

contracts-bedrock: cover nonce decoding
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
Due: lerna-packages-changed

contracts-bedrock: regenerate storage-layout
  packages/contracts-bedrock/.storage-layout
Due: lerna-packages-changed

ci: print slither version before running
  .circleci/config.yml
Due: none

ops-bedrock: move docker files into their module dirs (#2986)
  op-batcher/Dockerfile
  op-batcher/docker.go.work
  op-node/Dockerfile
  op-node/docker.go.work
  op-proposer/Dockerfile
  op-proposer/docker.go.work
  ops-bedrock/docker-compose.yml
Due: bedrock-go-packages-changed

ci: print slither version before running (#2992)
  .circleci/config.yml
Due: none

feat(ctp): move Teleportr contracts to periphery
  .changeset/happy-dodos-reply.md
  integration-tests/test/nft-bridge.spec.ts
  packages/contracts-periphery/contracts/L1/L1ERC721Bridge.sol
  packages/contracts-periphery/contracts/L1/TeleportrDeposit.sol
  packages/contracts-periphery/contracts/L2/L2ERC721Bridge.sol
  packages/contracts-periphery/contracts/L2/TeleportrDisburser.sol
  packages/contracts-periphery/contracts/testing/helpers/FailingReceiver.sol
  packages/contracts-periphery/test/contracts/L1/L1ERC721Bridge.spec.ts
  packages/contracts-periphery/test/contracts/L1/TeleportrDeposit.spec.ts
  packages/contracts-periphery/test/contracts/L2/L2ERC721Bridge.spec.ts
  packages/contracts-periphery/test/contracts/L2/TeleportrDisburser.spec.ts
  packages/contracts-periphery/test/helpers/constants.ts
  packages/contracts-periphery/test/helpers/index.ts
Due: lerna-packages-changed, integration-tests-changed

feat(sdk): update Goerli addresses
  .changeset/chatty-moles-grow.md
  packages/sdk/src/utils/contracts.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

style(ctp): clean up Drippie natspec
  .changeset/rare-trees-whisper.md
  packages/contracts-periphery/contracts/universal/AssetReceiver.sol
  packages/contracts-periphery/contracts/universal/Transactor.sol
  packages/contracts-periphery/contracts/universal/drippie/Drippie.sol
Due: lerna-packages-changed

feat(ctp): move Teleportr contracts to periphery (#2985)
  .changeset/happy-dodos-reply.md
  integration-tests/test/nft-bridge.spec.ts
  packages/contracts-periphery/contracts/L1/L1ERC721Bridge.sol
  packages/contracts-periphery/contracts/L1/TeleportrDeposit.sol
  packages/contracts-periphery/contracts/L2/L2ERC721Bridge.sol
  packages/contracts-periphery/contracts/L2/TeleportrDisburser.sol
  packages/contracts-periphery/contracts/testing/helpers/FailingReceiver.sol
  packages/contracts-periphery/test/contracts/L1/L1ERC721Bridge.spec.ts
  packages/contracts-periphery/test/contracts/L1/TeleportrDeposit.spec.ts
  packages/contracts-periphery/test/contracts/L2/L2ERC721Bridge.spec.ts
  packages/contracts-periphery/test/contracts/L2/TeleportrDisburser.spec.ts
  packages/contracts-periphery/test/helpers/constants.ts
  packages/contracts-periphery/test/helpers/index.ts
Due: lerna-packages-changed, integration-tests-changed

style(ctp): move TeleportrWithdrawer to L1 folder
  .changeset/shiny-dolls-hope.md
  packages/contracts-periphery/contracts/L1/TeleportrWithdrawer.sol
Due: lerna-packages-changed

style(ctb): clean up hashing and encoding libs (#2983)
  .changeset/curvy-numbers-shake.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/libraries/Hashing.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

op-node: simple chain config endpoint
  op-e2e/system_test.go
  op-node/node/api.go
  op-node/node/config.go
  op-proposer/rollupclient/rollupclient.go
Due: bedrock-go-packages-changed

contracts-periphery: add typechain (#2987)
  .changeset/famous-schools-argue.md
  packages/contracts-periphery/.depcheckrc
  packages/contracts-periphery/hardhat.config.ts
  packages/contracts-periphery/package.json
  yarn.lock
Due: lerna-packages-changed
