Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  semgrep-scan:
    parameters:
      diff_branch:
        type: string
        default: develop
    environment:
      TEMPORARY_BASELINE_REF: << parameters.diff_branch >>
      SEMGREP_REPO_URL: << pipeline.project.git_url >>
      SEMGREP_BRANCH: << pipeline.git.branch >>
      SEMGREP_COMMIT: << pipeline.git.revision >>

      # Change job timeout (default is 1800 seconds; set to 0 to disable)
      SEMGREP_TIMEOUT: 3000

    docker:
      - image: returntocorp/semgrep
    resource_class: xlarge
    steps:
      - checkout
      - unless:
          condition:
            equal: [ "develop", << pipeline.git.branch >> ]
          steps:
            - run:
                # Scan changed files in PRs, block on new issues only (existing issues ignored)
                # Do a full scan when scanning develop, otherwise do an incremental scan.
                name: "Conditionally set BASELINE env var"
                command: |
                  echo 'export SEMGREP_BASELINE_REF=${TEMPORARY_BASELINE_REF}' >> $BASH_ENV
      - run:
          name: "Set environment variables" # for PR comments and in-app hyperlinks to findings
          command: |
            echo 'export SEMGREP_PR_ID=${CIRCLE_PULL_REQUEST##*/}' >> $BASH_ENV
            echo 'export SEMGREP_JOB_URL=$CIRCLE_BUILD_URL' >> $BASH_ENV
            echo 'export SEMGREP_REPO_NAME=$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME' >> $BASH_ENV
      - run:
          name: "Semgrep scan"
          command: semgrep ci

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-modifications
          mapping: |
            packages/.* lerna-packages-changed true
            op-(batcher|bindings|e2e|node|proposer)/.* bedrock-go-packages-changed true
            specs/.*\.md bedrock-markdown-changed true
            (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.* go-binaries-changed true
            l2geth/.* l2geth-changed true
            packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.* itests-critical-lerna-package-changed true
            (batch-submitter|gas-oracle|bss-core)/.* itests-critical-go-package-changed true
            integration-tests/.* integration-tests-changed true
          base-revision: develop
          config-path: .circleci/config-packages.yml
      - semgrep-scan

ci: Use conditional builds
  .circleci/config-old.yml
  .circleci/config-packages.yml
  .circleci/config.yml
  ops/docker/ci-builder/CHANGELOG.md
  ops/docker/ci-builder/Dockerfile
  ops/docker/ci-builder/check-changed.sh
  ops/docker/ci-builder/package.json
Due: none

change open/close origin api, fix genesis seq nr bug, e2e passing
  op-batcher/batch_submitter.go
  op-e2e/system_test.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/calldata_source.go
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_in_reader.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/engine_update.go
  op-node/rollup/derive/l1_source.go
  op-node/rollup/derive/l1_traversal.go
  op-node/rollup/derive/l1_traversal_test.go
  op-node/rollup/derive/origin.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/derive/pipeline_test.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
Due: bedrock-go-packages-changed

fix progress/origin naming, avoid engine api linear unwind in consolidation, fix batcher process closing
  op-batcher/batch_submitter.go
  op-e2e/system_test.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_in_reader.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/l1_source.go
  op-node/rollup/derive/l1_traversal.go
  op-node/rollup/derive/l1_traversal_test.go
  op-node/rollup/derive/origin.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/derive/pipeline_test.go
  op-node/rollup/derive/progress.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
Due: bedrock-go-packages-changed

remove old ChannelEmitter, remove ChannelOutReader in favor of ChannelOut, fix tests, clean up unused l2 engine change, clean up op-batcher flags
  op-batcher/batch_submitter.go
  op-batcher/config.go
  op-batcher/flags/flags.go
  op-e2e/setup.go
  op-node/l2/source.go
  op-node/node/api.go
  op-node/node/server_test.go
  op-node/rollup/derive/channel_bank_test.go
  op-node/rollup/derive/channel_emitter.go
  op-node/rollup/derive/channel_out.go
  op-node/rollup/derive/channel_out_reader.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/l1_source_test.go
  op-node/rollup/derive/progress.go
  op-node/testutils/mock_engine.go
  op-proposer/rollupclient/rollupclient.go
Due: bedrock-go-packages-changed

fix op-batcher flags / docker compose update
  op-batcher/batch_submitter.go
  op-batcher/config.go
  op-batcher/flags/flags.go
  op-batcher/sequencer/driver.go
  op-e2e/setup.go
  op-node/rollup/derive/params.go
  ops-bedrock/docker-compose.yml
Due: bedrock-go-packages-changed

clean up logging
  op-batcher/batch_submitter.go
  op-e2e/system_test.go
  op-node/eth/types.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/calldata_source.go
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_in_reader.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/engine_update.go
  op-node/rollup/derive/l1_source.go
  op-node/rollup/derive/l1_traversal.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/driver/state.go
Due: bedrock-go-packages-changed

lint
  op-node/eth/status.go
  op-node/rollup/derive/engine_update.go
Due: bedrock-go-packages-changed

test valid -> if err == nil, not err != nil
  op-node/rollup/derive/batches_test.go
Due: bedrock-go-packages-changed

backend-config for websocket so that healthchecks work
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-alpha/backend-config.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-alpha/kustomization.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-alpha/l2geth-replica-sync-source.env
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-alpha/patches/l2geth.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-beta/backend-config.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-beta/kustomization.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-beta/l2geth-replica-sync-source.env
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-beta/patches/l2geth.yaml
Due: none

feat(ctp): deploy Drippie to mainnet (#2813)
  .changeset/rare-ears-share.md
  packages/contracts-periphery/config/drippie/ethereum.ts
  packages/contracts-periphery/deployments/ethereum/CheckBalanceHigh.json
  packages/contracts-periphery/deployments/ethereum/CheckBalanceLow.json
  packages/contracts-periphery/deployments/ethereum/CheckGelatoLow.json
  packages/contracts-periphery/deployments/ethereum/CheckTrue.json
  packages/contracts-periphery/deployments/ethereum/Drippie.json
  packages/contracts-periphery/deployments/ethereum/TeleportrWithdrawer.json
  packages/contracts-periphery/deployments/ethereum/solcInputs/b09909e91a3ff9823ceba49a3a845230.json
  packages/contracts-periphery/src/config/drippie.ts
  packages/contracts-periphery/src/gnosis-safe-checksum.ts
  packages/contracts-periphery/src/index.ts
  packages/contracts-periphery/tasks/index.ts
  packages/contracts-periphery/tasks/install-drippie-config-multisig.ts
  packages/contracts-periphery/tasks/install-drippie-config.ts
Due: lerna-packages-changed

contracts-bedrock: update `isOutputFinalized`
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed

contracts-bedrock: add `isOutputFinalized`
  .changeset/hot-crews-lie.md
Due: none

op-bindings: regenerate
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
Due: bedrock-go-packages-changed

feat: contracts-bedrock `BuildInfo`
  .changeset/curly-spoons-invent.md
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
  yarn.lock
Due: lerna-packages-changed

feat(contracts): add `isOutputFinalized` function (#2598)
  .changeset/hot-crews-lie.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

feat: contracts-bedrock `BuildInfo` (#2856)
  .changeset/curly-spoons-invent.md
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
  yarn.lock
Due: lerna-packages-changed

indexer: fix simple semgrep issues
  .changeset/gold-clocks-grin.md
  indexer/indexer.go
  indexer/metrics/metrics.go
Due: go-binaries-changed

L1Source -> L1Retrieval, fix receiver names
  op-node/rollup/derive/l1_retrieval.go
  op-node/rollup/derive/l1_retrieval_test.go
  op-node/rollup/derive/l1_traversal.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/derive/progress.go
Due: bedrock-go-packages-changed

bedrock: Make portal upgradeable
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
  packages/contracts-bedrock/deploy/001-OptimismPortal.deploy.ts
Due: lerna-packages-changed

bedrock: update portal storage layout
  packages/contracts-bedrock/.storage-layout
Due: lerna-packages-changed

bedrock: Set l2Sender in initialize
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
Due: lerna-packages-changed

bedrock: rebuild bindings and snapshot
  .changeset/friendly-grapes-watch.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
Due: lerna-packages-changed, bedrock-go-packages-changed

bedrock: Test portal behind a proxy
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed

bedrock: Test oracle behind proxy
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
Due: lerna-packages-changed

bedrock: workarounds for forge test overflow bug
  .circleci/config.yml
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/forge-test-loop.sh
Due: lerna-packages-changed

chore: update gas snapshot and bindings
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
Due: lerna-packages-changed, bedrock-go-packages-changed

bedrock: Add test for storage access post upgrade
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed

bedrock: reorder inheritance in portal
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed

bedrock: Make ResourceMetering non-abstract
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
Due: lerna-packages-changed

Revert "bedrock: workarounds for forge test overflow bug"
  .circleci/config.yml
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/forge-test-loop.sh
Due: lerna-packages-changed

wait for derivation to be idle before sequencing new block
  op-node/rollup/derive/pipeline.go
  op-node/rollup/driver/state.go
Due: bedrock-go-packages-changed

Deploy Teleportr on goerli
  packages/contracts/deployments/goerli/TeleportrDeposit.json
  packages/contracts/deployments/goerli/TeleportrDisburser.json
  packages/contracts/deployments/goerli/solcInputs/12afc2c6487cfec4471fc920fd475624.json
Due: lerna-packages-changed, itests-critical-lerna-package-changed

indexer: deduplicate l2geth and geth deps
  .changeset/mean-pumas-smoke.md
  indexer/Makefile
  indexer/bindings/l1bridge/l1_standard_bridge.go
  indexer/bindings/l2bridge/l2_standard_bridge.go
  indexer/bindings/l2erc20/l2erc20.go
  indexer/db/db.go
  indexer/db/eth.go
  indexer/db/l1block.go
  indexer/db/locator.go
  indexer/db/withdrawal.go
  indexer/indexer.go
  indexer/metrics/metrics.go
  indexer/services/l1/service.go
  indexer/services/l2/bridge/bridge.go
  indexer/services/l2/bridge/filter.go
  indexer/services/l2/bridge/standard_bridge.go
  indexer/services/l2/confirmed_headers.go
  indexer/services/l2/query.go
  indexer/services/l2/service.go
Due: go-binaries-changed

contracts-bedrock: optimize build info generation
  .changeset/serious-suits-reflect.md
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  yarn.lock
Due: lerna-packages-changed

bedrock: Make portal upgradeable (#2825)
  .changeset/friendly-grapes-watch.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
  packages/contracts-bedrock/deploy/001-OptimismPortal.deploy.ts
Due: lerna-packages-changed, bedrock-go-packages-changed

contracts-bedrock: add deployer docker image
  .changeset/moody-beds-guess.md
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  ops/docker/Dockerfile.packages
  packages/contracts-bedrock/package.json
Due: lerna-packages-changed

specs: Full table of contents
  specs/README.md
Due: bedrock-markdown-changed

indexer: use op-bindings for address manager (#2858)
  .changeset/quiet-avocados-wait.md
  indexer/Dockerfile
  indexer/Makefile
  indexer/go.mod
  indexer/go.sum
  indexer/services/l1/bridge/addresses.go
  op-bindings/Makefile
  op-bindings/bindings/lib_addressmanager.go
Due: bedrock-go-packages-changed, go-binaries-changed
