Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

style(ctb): clean MerkleTrie and SecureMerkleTrie (#3006)
  .changeset/few-mails-cough.md
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/libraries/trie/SecureMerkleTrie.sol
Due: lerna-packages-changed

fix(github): fix changesets workflow: run yarn, not uses yarn
  .github/workflows/changesets.yml
Due: none

contracts-bedrock: better logging in deposit task
  packages/contracts-bedrock/tasks/deposits.ts
Due: lerna-packages-changed

style(ctb): clean lint in MerkleTrie
  .changeset/dirty-bananas-shop.md
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
Due: lerna-packages-changed

fix(ctb): clean up BytesUtils (#2964)
  .changeset/beige-eggs-jog.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/contracts/libraries/BytesUtils.sol
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

chore(ctb): Remove some todos in messenger and portal (#3012)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Due: lerna-packages-changed

fix(github): fix changesets workflow: run yarn, not uses yarn (#3027)
  .github/workflows/changesets.yml
Due: none

Revert "ci: temporary pause to devnet in ci (#3025)"
  .circleci/config.yml
Due: none

devnet: Use later L2 timestamp for network
  ops-bedrock/devnet-up.sh
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/contracts-bedrock/tasks/rollup-config.ts
Due: lerna-packages-changed

fix(ctb): clean up compiler warnings
  .changeset/lazy-seahorses-hug.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/legacy/LegacyERC20ETH.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/Proxy.t.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
Due: lerna-packages-changed

fix(ctb): clear most linting warnings (#3024)
  .changeset/serious-tigers-greet.md
  packages/contracts-bedrock/.solhint.json
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/L2/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/contracts/legacy/ResolvedDelegateProxy.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/Semver.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Due: lerna-packages-changed

ops: Fix unbound variable in check_changed script
  .changeset/funny-windows-hope.md
  ops/docker/ci-builder/check-changed.sh
Due: none

ci: bump foundry to 3c49efe58ca4bdeec4729490501da06914446405
  .changeset/big-mayflies-dress.md
  ops/docker/foundry/Dockerfile
Due: none

fix(ctb): clean up compiler warnings (#3020)
  .changeset/lazy-seahorses-hug.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/legacy/LegacyERC20ETH.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/Proxy.t.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
Due: lerna-packages-changed

fix(ctb): tweak XDM.baseGas
  .changeset/chilly-weeks-smile.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

fix(fd): properly handle connection failures (#2832)
  .changeset/wild-rivers-guess.md
  packages/fault-detector/src/service.ts
Due: lerna-packages-changed

op-node: simple chain config endpoint (#2996)
  op-e2e/system_test.go
  op-node/node/api.go
  op-node/node/config.go
  op-proposer/rollupclient/rollupclient.go
Due: bedrock-go-packages-changed

fix(ctb): tweak XDM.baseGas (#3023)
  .changeset/chilly-weeks-smile.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

test(ctb): add test for stuck ETH on failed msg
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
Due: lerna-packages-changed

ci: bump foundry to 3c49efe58ca4bdeec4729490501da06914446405 (#3031)
  .changeset/big-mayflies-dress.md
  ops/docker/foundry/Dockerfile
Due: none

style(ctb): Rename _isSystemMessageSender to _isOtherMessenger
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

style(ctb): Rename _isSystemMessageSender to _isOtherMessenger (#3022)
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

implement fix
  op-node/node/node.go
Due: bedrock-go-packages-changed

op-node: update engine queue to reset full seq window, bug found by @trianglesphere
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/engine_queue.go
Due: bedrock-go-packages-changed

tmp: sanity check that latest go module changes are visible to op-e2e module
  op-bindings/bindings/optimismportal.go
Due: bedrock-go-packages-changed

style(ctb): Rename append to propose Please enter the commit message for your changes. Lines starting
  op-bindings/bindings/l2outputoracle.go
  op-proposer/drivers/l2output/driver.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/BenchmarkTest.t.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/slither.db.json
  specs/proposals.md
Due: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed

style(ctb): Use output root for bytes32
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
Due: lerna-packages-changed

style(ctb): Rename sequencer to proposer in oracle
  .changeset/smart-kings-learn.md
  op-bindings/bindings/l2outputoracle.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/test/BenchmarkTest.t.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/integration-tests-bedrock/test/000_withdrawals.spec.ts
  specs/proposals.md
Due: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed

feat(bedrock): Versioned TransactionDeposited event
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed

feat(bedrock): Index the deposit event version
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed

feat(bedrock): regen bindings and snapshot
  .changeset/rude-snails-grow.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
Due: bedrock-go-packages-changed

Node: Update fuzz test to use new deposit type
  op-node/rollup/derive/fuzz_parsers_test.go
Due: bedrock-go-packages-changed

Node: Make UnmarshalDepositLogEvent work
  op-node/rollup/derive/deposit_log.go
  op-node/rollup/derive/deposit_log_test.go
  op-node/rollup/derive/fuzz_parsers_test.go
Due: bedrock-go-packages-changed

bedrock: add version to MarshalDepositLogEvent
  op-node/rollup/derive/deposit_log.go
Due: bedrock-go-packages-changed

ctb: Change event version from 1 to 0
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

ctb: pack opaque data
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  op-node/rollup/derive/deposit_log.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

temp: Handle encodePacked data in Marshal and Unmarshal DepositLogEvent
  op-node/rollup/derive/deposit_log.go
Due: bedrock-go-packages-changed

unskip tests
  op-node/rollup/derive/deposit_log_test.go
Due: bedrock-go-packages-changed

Naming improvements in Oracle (#2990)
  .changeset/smart-kings-learn.md
  op-bindings/bindings/l2outputoracle.go
  op-proposer/drivers/l2output/driver.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/BenchmarkTest.t.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/slither.db.json
  packages/integration-tests-bedrock/test/000_withdrawals.spec.ts
  specs/proposals.md
Due: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed

style(ctb): clean lint in MerkleTrie (#3028)
  .changeset/dirty-bananas-shop.md
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
Due: lerna-packages-changed

Path conditions:
  lerna-packages-changed: any of: packages/.*
  bedrock-go-packages-changed: any of: op-(batcher|bindings|e2e|node|proposer)/.*
  bedrock-markdown-changed: any of: specs/.*\.md
  go-binaries-changed: any of: (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.*
  l2geth-changed: any of: l2geth/.*
  itests-critical-lerna-package-changed: any of: packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.*
  itests-critical-go-package-changed: any of: (batch-submitter|gas-oracle|bss-core)/.*
  integration-tests-changed: any of: integration-tests/.*
