Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  semgrep-scan:
    parameters:
      diff_branch:
        type: string
        default: develop
    environment:
      TEMPORARY_BASELINE_REF: << parameters.diff_branch >>
      SEMGREP_REPO_URL: << pipeline.project.git_url >>
      SEMGREP_BRANCH: << pipeline.git.branch >>
      SEMGREP_COMMIT: << pipeline.git.revision >>

      # Change job timeout (default is 1800 seconds; set to 0 to disable)
      SEMGREP_TIMEOUT: 3000

    docker:
      - image: returntocorp/semgrep
    resource_class: xlarge
    steps:
      - checkout
      - unless:
          condition:
            equal: [ "develop", << pipeline.git.branch >> ]
          steps:
            - run:
                # Scan changed files in PRs, block on new issues only (existing issues ignored)
                # Do a full scan when scanning develop, otherwise do an incremental scan.
                name: "Conditionally set BASELINE env var"
                command: |
                  echo 'export SEMGREP_BASELINE_REF=${TEMPORARY_BASELINE_REF}' >> $BASH_ENV
      - run:
          name: "Set environment variables" # for PR comments and in-app hyperlinks to findings
          command: |
            echo 'export SEMGREP_PR_ID=${CIRCLE_PULL_REQUEST##*/}' >> $BASH_ENV
            echo 'export SEMGREP_JOB_URL=$CIRCLE_BUILD_URL' >> $BASH_ENV
            echo 'export SEMGREP_REPO_NAME=$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME' >> $BASH_ENV
      - run:
          name: "Semgrep scan"
          command: semgrep ci

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-modifications
          mapping: |
            packages/.* lerna-packages-changed true
            op-(batcher|bindings|e2e|node|proposer)/.* bedrock-go-packages-changed true
            specs/.*\.md bedrock-markdown-changed true
            (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.* go-binaries-changed true
            l2geth/.* l2geth-changed true
            packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.* itests-critical-lerna-package-changed true
            (batch-submitter|gas-oracle|bss-core)/.* itests-critical-go-package-changed true
            integration-tests/.* integration-tests-changed true
          base-revision: develop
          config-path: .circleci/config-packages.yml
      - semgrep-scan

contracts-bedrock: fix test
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20Factory.t.sol
Due: lerna-packages-changed

contracts-bedrock: snapshot
  packages/contracts-bedrock/.gas-snapshot
Due: lerna-packages-changed

fix(ctb): rename token factory to erc20 factory (#2950)
  .changeset/perfect-emus-perform.md
  op-bindings/predeploys/addresses.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20Factory.t.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/deploy/004-OptimismMintableTokenFactory.ts
  packages/contracts-bedrock/scripts/storage-snapshot.sh
  packages/contracts-bedrock/src/constants.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
  specs/bridges.md
  specs/predeploys.md
Due: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed

op-node: clip derivation reset to not go past L1 genesis
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/channel_bank.go
Due: bedrock-go-packages-changed

op-node: clip derivation reset to not go past L1 genesis (#2910)
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/channel_bank.go
Due: bedrock-go-packages-changed

fix(ctb): solc warnings in Proxy.sol
  .changeset/spotty-wombats-fetch.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/universal/Proxy.sol
Due: lerna-packages-changed

feat(ctb): use external BytesLib
  .changeset/red-shirts-argue.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  package.json
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/libraries/BytesUtils.sol
  packages/contracts-bedrock/contracts/libraries/Nibbles.sol
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
  yarn.lock
Due: lerna-packages-changed, bedrock-go-packages-changed

ci: add devnet to ci (#2958)
  .circleci/config.yml
  packages/contracts-bedrock/hardhat.config.ts
Due: lerna-packages-changed

fix(ctb): remove DefaultValues
  .changeset/friendly-donuts-kiss.md
  packages/contracts-bedrock/contracts/libraries/DefaultValues.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

ci: Fix check-changed error code
  .circleci/config.yml
  ops/docker/ci-builder/check-changed.sh
Due: none

fix(ctb): remove DefaultValues (#2961)
  .changeset/friendly-donuts-kiss.md
  packages/contracts-bedrock/contracts/libraries/DefaultValues.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

fix(ctb): solc warnings in Proxy.sol (#2951)
  .changeset/spotty-wombats-fetch.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/universal/Proxy.sol
Due: lerna-packages-changed

feat(ctb): clean up initialization logic
  .changeset/olive-tigers-build.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20Factory.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/contracts-bedrock/deploy/002-L1CrossDomainMessenger.ts
  packages/contracts-bedrock/deploy/004-OptimismMintableTokenFactory.ts
Due: lerna-packages-changed, bedrock-go-packages-changed

contracts-bedrock: clean up hh genesis task
  packages/contracts-bedrock/tasks/genesis-l2.ts
Due: lerna-packages-changed

feat(ctb): clean up initialization logic (#2942)
  .changeset/olive-tigers-build.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20Factory.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/contracts-bedrock/deploy/002-L1CrossDomainMessenger.ts
  packages/contracts-bedrock/deploy/004-OptimismMintableTokenFactory.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
Due: lerna-packages-changed, bedrock-go-packages-changed

Rename packages/contracts/contracts/L1/messaging/L1StandardBridge.sol to StandardBridge.sol
  StandardBridge.sol
Due: none

contracts-bedrock: add semver to L2 contracts
  .changeset/smart-numbers-trade.md
  package.json
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L2/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L1Block.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
Due: lerna-packages-changed

deps: fix depcheck
  package.json
  packages/contracts-periphery/.depcheckrc
Due: lerna-packages-changed

contracts-bedrock: use internal Semver contract
  package.json
  packages/contracts-bedrock/contracts/L2/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L1Block.sol
  packages/contracts-bedrock/contracts/L2/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/universal/Semver.sol
  packages/contracts-bedrock/package.json
Due: lerna-packages-changed

contracts-periphery: move semver into contracts-bedrock
  packages/contracts-periphery/contracts/L1/messaging/L1ERC721Bridge.sol
  packages/contracts-periphery/contracts/L2/messaging/L2ERC721Bridge.sol
  packages/contracts-periphery/contracts/universal/Semver.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721Factory.sol
Due: lerna-packages-changed

contracts-periphery: add mkdirp for build
  packages/contracts-periphery/package.json
Due: lerna-packages-changed

deps: update and standardize some js deps
  .changeset/young-rivers-develop.md
  package.json
  packages/contracts-bedrock/package.json
  packages/contracts-periphery/package.json
  packages/fault-detector/package.json
  packages/hardhat-deploy-config/package.json
  yarn.lock
Due: lerna-packages-changed

contracts: add semver tag to natspec
  packages/contracts-bedrock/contracts/L2/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L1Block.sol
  packages/contracts-bedrock/contracts/L2/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-periphery/contracts/L1/messaging/L1ERC721Bridge.sol
  packages/contracts-periphery/contracts/L2/messaging/L2ERC721Bridge.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721Factory.sol
Due: lerna-packages-changed

op-bindings: regenerate
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/gaspriceoracle_deployed.go
  op-bindings/bindings/l1block.go
  op-bindings/bindings/l1block_deployed.go
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/l2tol1messagepasser_deployed.go
Due: bedrock-go-packages-changed

contracts-bedrock: add semver to L1 contracts
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/Semver.t.sol
Due: lerna-packages-changed

contracts-bedrock: less compiler warnings
  packages/contracts-bedrock/contracts/test/RLPReader.t.sol
Due: lerna-packages-changed

contracts-bedrock: move DepositTx to core-utils
  .changeset/three-wasps-burn.md
  packages/contracts-bedrock/helpers/index.ts
  packages/contracts-bedrock/src/index.ts
  packages/contracts-bedrock/tasks/deposits.ts
  packages/core-utils/src/optimism/deposit-transaction.ts
  packages/core-utils/src/optimism/index.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

contracts-bedrock: regenerate snapshot
  packages/contracts-bedrock/.gas-snapshot
Due: lerna-packages-changed

op-bindings: regenerate
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
Due: bedrock-go-packages-changed

contracts-bedrock: add semver to contracts (#2962)
  .changeset/smart-numbers-trade.md
  .changeset/young-rivers-develop.md
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/gaspriceoracle_deployed.go
  op-bindings/bindings/l1block.go
  op-bindings/bindings/l1block_deployed.go
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/l2tol1messagepasser_deployed.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  package.json
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L1Block.sol
  packages/contracts-bedrock/contracts/L2/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/Semver.t.sol
  packages/contracts-bedrock/contracts/universal/Semver.sol
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
  packages/contracts-periphery/.depcheckrc
  packages/contracts-periphery/contracts/L1/messaging/L1ERC721Bridge.sol
  packages/contracts-periphery/contracts/L2/messaging/L2ERC721Bridge.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721Factory.sol
  packages/contracts-periphery/package.json
  packages/fault-detector/package.json
  packages/hardhat-deploy-config/package.json
  yarn.lock
Due: lerna-packages-changed, bedrock-go-packages-changed

contracts-bedrock: optimization of initialize
  .changeset/honest-bags-press.md
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

lint: fix
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

style(ctb): remove errs in virtual fns
  .changeset/weak-pens-push.md
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

style(ctb): clean up RLP lib natspec
  .changeset/lucky-parents-deliver.md
  packages/contracts-bedrock/contracts/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPWriter.sol
Due: lerna-packages-changed

style(ctb): clean up enums
  .changeset/little-needles-enjoy.md
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
Due: lerna-packages-changed

style(ctb): clean up PredeployAddresses
  .changeset/shaggy-radios-unite.md
  packages/contracts-bedrock/contracts/libraries/PredeployAddresses.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
Due: lerna-packages-changed

ci: Fix check-changed error code (#2966)
  .circleci/config.yml
  ops/docker/ci-builder/check-changed.sh
Due: none

style(ctb): clean up enums (#2972)
  .changeset/little-needles-enjoy.md
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
Due: lerna-packages-changed

style(ctb): refactor Hashing and Encoding libs
  .changeset/breezy-books-remember.md
  op-bindings/bindings/optimismportal.go
  op-node/withdrawals/utils.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/libraries/CrossDomainHashing.sol
  packages/contracts-bedrock/contracts/libraries/CrossDomainUtils.sol
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/libraries/Hashing.sol
  packages/contracts-bedrock/contracts/libraries/WithdrawalVerifier.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed, bedrock-go-packages-changed
