Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  semgrep-scan:
    parameters:
      diff_branch:
        type: string
        default: develop
    environment:
      TEMPORARY_BASELINE_REF: << parameters.diff_branch >>
      SEMGREP_REPO_URL: << pipeline.project.git_url >>
      SEMGREP_BRANCH: << pipeline.git.branch >>
      SEMGREP_COMMIT: << pipeline.git.revision >>

      # Change job timeout (default is 1800 seconds; set to 0 to disable)
      SEMGREP_TIMEOUT: 3000

    docker:
      - image: returntocorp/semgrep
    resource_class: xlarge
    steps:
      - checkout
      - unless:
          condition:
            equal: [ "develop", << pipeline.git.branch >> ]
          steps:
            - run:
                # Scan changed files in PRs, block on new issues only (existing issues ignored)
                # Do a full scan when scanning develop, otherwise do an incremental scan.
                name: "Conditionally set BASELINE env var"
                command: |
                  echo 'export SEMGREP_BASELINE_REF=${TEMPORARY_BASELINE_REF}' >> $BASH_ENV
      - run:
          name: "Set environment variables" # for PR comments and in-app hyperlinks to findings
          command: |
            echo 'export SEMGREP_PR_ID=${CIRCLE_PULL_REQUEST##*/}' >> $BASH_ENV
            echo 'export SEMGREP_JOB_URL=$CIRCLE_BUILD_URL' >> $BASH_ENV
            echo 'export SEMGREP_REPO_NAME=$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME' >> $BASH_ENV
      - run:
          name: "Semgrep scan"
          command: semgrep ci

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-modifications
          mapping: |
            packages/.* lerna-packages-changed true
            op-(batcher|bindings|e2e|node|proposer)/.* bedrock-go-packages-changed true
            specs/.*\.md bedrock-markdown-changed true
            (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.* go-binaries-changed true
            l2geth/.* l2geth-changed true
            packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.* itests-critical-lerna-package-changed true
            (batch-submitter|gas-oracle|bss-core)/.* itests-critical-go-package-changed true
            integration-tests/.* integration-tests-changed true
          base-revision: develop
          config-path: .circleci/config-packages.yml
      - semgrep-scan

indexer: fix simple semgrep issues (#2857)
  .changeset/gold-clocks-grin.md
  indexer/indexer.go
  indexer/metrics/metrics.go
Due: go-binaries-changed

indexer: deduplicate l2geth and geth deps (#2859)
  .changeset/mean-pumas-smoke.md
  indexer/Makefile
  indexer/bindings/l1bridge/l1_standard_bridge.go
  indexer/bindings/l2bridge/l2_standard_bridge.go
  indexer/bindings/l2erc20/l2erc20.go
  indexer/db/db.go
  indexer/db/eth.go
  indexer/db/l1block.go
  indexer/db/locator.go
  indexer/db/withdrawal.go
  indexer/indexer.go
  indexer/metrics/metrics.go
  indexer/services/l1/service.go
  indexer/services/l2/bridge/bridge.go
  indexer/services/l2/bridge/filter.go
  indexer/services/l2/bridge/standard_bridge.go
  indexer/services/l2/confirmed_headers.go
  indexer/services/l2/query.go
  indexer/services/l2/service.go
Due: go-binaries-changed

contracts-bedrock: optimize build info generation (#2861)
  .changeset/serious-suits-reflect.md
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  yarn.lock
Due: lerna-packages-changed

specs: Full table of contents (#2860)
  specs/README.md
Due: bedrock-markdown-changed

op-node: Add metrics (#2840)
  op-batcher/go.mod
  op-batcher/go.sum
  op-e2e/setup.go
  op-node/client/client.go
  op-node/client/rpc.go
  op-node/cmd/main.go
  op-node/flags/flags.go
  op-node/go.mod
  op-node/go.sum
  op-node/l1/request_sema.go
  op-node/l1/source.go
  op-node/l1/source_test.go
  op-node/l2/source.go
  op-node/metrics/metrics.go
  op-node/node/api.go
  op-node/node/config.go
  op-node/node/node.go
  op-node/node/server.go
  op-node/node/server_test.go
  op-node/p2p/host_test.go
  op-node/p2p/rpc_server.go
  op-node/service.go
  op-proposer/go.mod
  op-proposer/go.sum
  ops-bedrock/devnet-up.sh
  ops-bedrock/docker-compose.yml
Due: bedrock-go-packages-changed

implement verifier and sequencer confirmation depth
  op-batcher/batch_submitter.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/flags/flags.go
  op-node/node/config.go
  op-node/node/node.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/l1_traversal.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/driver/conf_depth.go
  op-node/rollup/driver/conf_depth_test.go
  op-node/rollup/driver/config.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
  op-node/service.go
  ops-bedrock/docker-compose.yml
Due: bedrock-go-packages-changed

feat(op-node): testlog alignment and color by default
  op-node/testlog/README.md
  op-node/testlog/testlog.go
Due: bedrock-go-packages-changed

op-node: Add Epoch Hash to batch
  op-node/l2/util.go
  op-node/rollup/derive/batch.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batch_test.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/batches_test.go
  op-node/rollup/derive/channel_out.go
Due: bedrock-go-packages-changed

feat(op-node): testlog alignment and color by default (#2854)
  op-node/testlog/README.md
  op-node/testlog/testlog.go
Due: bedrock-go-packages-changed

ci: Use conditional builds
  .circleci/config.yml
  batch-submitter/drivers/sequencer/batch.go
  batch-submitter/drivers/sequencer/encoding.go
  bss-core/crypto.go
  bss-core/crypto_test.go
  bss-core/metrics/metrics.go
  bss-core/txmgr/send_state.go
  bss-core/txmgr/send_state_test.go
  bss-core/txmgr/txmgr.go
  bss-core/txmgr/txmgr_test.go
  gas-oracle/gasprices/gas_price_updater_test.go
  indexer/crypto.go
  indexer/crypto_test.go
  ops/docker/ci-builder/CHANGELOG.md
  ops/docker/ci-builder/Dockerfile
  ops/docker/ci-builder/check-changed.sh
  ops/docker/ci-builder/package.json
  teleportr/db/db.go
  teleportr/drivers/disburser/driver.go
Due: go-binaries-changed, itests-critical-go-package-changed

ci: Use conditional builds (#2853)
  .circleci/config.yml
  batch-submitter/drivers/sequencer/batch.go
  batch-submitter/drivers/sequencer/encoding.go
  bss-core/crypto.go
  bss-core/crypto_test.go
  bss-core/metrics/metrics.go
  bss-core/txmgr/send_state.go
  bss-core/txmgr/send_state_test.go
  bss-core/txmgr/txmgr.go
  bss-core/txmgr/txmgr_test.go
  gas-oracle/gasprices/gas_price_updater_test.go
  indexer/crypto.go
  indexer/crypto_test.go
  ops/docker/ci-builder/CHANGELOG.md
  ops/docker/ci-builder/Dockerfile
  ops/docker/ci-builder/check-changed.sh
  ops/docker/ci-builder/package.json
  teleportr/db/db.go
  teleportr/drivers/disburser/driver.go
Due: go-binaries-changed, itests-critical-go-package-changed

ci: Conditional check fixes
  .circleci/config.yml
  ops/docker/ci-builder/Dockerfile
  ops/docker/ci-builder/check-changed.sh
Due: none

spec: fix typos
  specs/bridges.md
  specs/deposits.md
  specs/exec-engine.md
  specs/glossary.md
  specs/guaranteed-gas-market.md
  specs/introduction.md
  specs/messengers.md
  specs/overview.md
  specs/predeploys.md
  specs/proposals.md
  specs/rollup-node-p2p.md
  specs/rollup-node.md
  specs/withdrawals.md
Due: bedrock-markdown-changed

ci: Conditional check fixes (#2866)
  .circleci/config.yml
  ops/docker/ci-builder/Dockerfile
  ops/docker/ci-builder/check-changed.sh
Due: none

contracts-bedrock: add deployer docker image (#2862)
  .changeset/moody-beds-guess.md
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  ops/docker/Dockerfile.packages
  packages/contracts-bedrock/package.json
Due: lerna-packages-changed

fix missing epoch block hash
  op-node/rollup/derive/channel_out.go
Due: bedrock-go-packages-changed

batcher: Handle multiple frames per channel
  op-batcher/batch_submitter.go
  op-node/rollup/derive/channel_out.go
Due: bedrock-go-packages-changed

hardhat-deploy-config: use `lazyObject`
  .changeset/shaggy-trainers-move.md
  packages/hardhat-deploy-config/src/plugin.ts
Due: lerna-packages-changed

contracts-bedrock: fix some typing
  packages/contracts-bedrock/deploy-config/hardhat.ts
  packages/contracts-bedrock/tasks/genesis-l1.ts
Due: lerna-packages-changed

contracts-bedrock: remove unused coverage package
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
Due: lerna-packages-changed

oom: update hardhat-forge plugin
  packages/contracts-bedrock/package.json
  yarn.lock
Due: lerna-packages-changed

contracts-bedrock: remove calls to hre ethers
  packages/contracts-bedrock/deploy-config/hardhat.ts
  packages/contracts-bedrock/tasks/genesis-l1.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
Due: lerna-packages-changed

l2geth: Fix NPE in API tracer
  .changeset/stupid-ties-reply.md
  l2geth/eth/api_tracer.go
Due: l2geth-changed

l2geth: Fix NPE in API tracer (#2873)
  .changeset/stupid-ties-reply.md
  l2geth/eth/api_tracer.go
Due: l2geth-changed

op-node: Add eth package changes
  op-node/eth/l1info.go
  op-node/eth/status.go
  op-node/eth/types.go
Due: bedrock-go-packages-changed

op-node: Add testutils package
  op-node/testutils/fake_chain.go
  op-node/testutils/mock_engine.go
  op-node/testutils/mock_l1.go
  op-node/testutils/random.go
Due: bedrock-go-packages-changed

op-node: Pull in L1/L2 source changes
  op-node/l1/source.go
  op-node/l1/types.go
  op-node/l2/source.go
Due: bedrock-go-packages-changed

op-node: Make the refactor build
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/step.go
Due: bedrock-go-packages-changed

contracts-bedrock: buildinfo set to true
  packages/contracts-bedrock/foundry.toml
Due: lerna-packages-changed

fix(ctp): bugs in Mintable ERC721
  .changeset/strange-pets-draw.md
  integration-tests/test/nft-bridge.spec.ts
  packages/contracts-periphery/contracts/universal/op-erc721/IOptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721Factory.sol
  packages/contracts-periphery/deploy/nft-bridge/OptimismMintableERC721FactoryImplementation.ts
  packages/contracts-periphery/test/contracts/L2/messaging/L2ERC721Bridge.spec.ts
  packages/contracts-periphery/test/contracts/universal/OptimismMintableERC721.spec.ts
  packages/contracts-periphery/test/contracts/universal/OptimismMintableERC721Factory.spec.ts
Due: lerna-packages-changed, integration-tests-changed

contracts-bedrock: fix genesis builder
  packages/contracts-bedrock/deploy-config/devnetL1.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
Due: lerna-packages-changed

contracts-bedrock: fix genesis builder (#2877)
  packages/contracts-bedrock/deploy-config/devnetL1.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
Due: lerna-packages-changed

ops-bedrock: Increase timeout on wait_up
  ops-bedrock/devnet-up.sh
  ops-bedrock/test-integration.sh
  packages/contracts-bedrock/.gitignore
Due: lerna-packages-changed

Apply suggestions from code review
  op-node/rollup/driver/step.go
Due: bedrock-go-packages-changed

op-node: Refactor types and L1/L2 Source (#2874)
  op-node/eth/l1info.go
  op-node/eth/status.go
  op-node/eth/types.go
  op-node/l1/source.go
  op-node/l1/types.go
  op-node/l2/source.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/step.go
  op-node/testutils/fake_chain.go
  op-node/testutils/mock_engine.go
  op-node/testutils/mock_l1.go
  op-node/testutils/random.go
Due: bedrock-go-packages-changed

drop unused db from batcher
  op-batcher/batch_submitter.go
  op-batcher/config.go
  op-batcher/db/history_db.go
  op-batcher/db/history_db_test.go
  op-batcher/flags/flags.go
  op-batcher/sequencer/driver.go
Due: bedrock-go-packages-changed
