Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

Proxies and Gas benchmark tests (#2901)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/BenchmarkTest.t.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed

fix(ci): add bedrock contracts to PR labeler
  .github/labeler.yml
Due: none

deps: bump forge-std to 62caef29b0f87a2c6aaaf634b2ca4c09b6867c92
  .changeset/sixty-turkeys-press.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/package.json
  packages/contracts-periphery/package.json
  yarn.lock
Due: lerna-packages-changed

devnet: add missing config
  packages/contracts-bedrock/deploy-config/devnetL1.ts
Due: lerna-packages-changed

fix(ci): add bedrock contracts to PR labeler (#2943)
  .github/labeler.yml
Due: none

contracts-bedrock: nohoist the smart contract deps (#2934)
  package.json
Due: none

contracts-bedrock: fix typechain
  .changeset/yellow-readers-vanish.md
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  yarn.lock
Due: lerna-packages-changed

docker: add ethereumoptimism/foundry docker image
  .changeset/big-scissors-remain.md
  .github/workflows/release.yml
  ops/docker/foundry/Dockerfile
  ops/docker/foundry/package.json
  package.json
Due: none

contracts-bedrock: speed up compilation time
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  yarn.lock
Due: lerna-packages-changed

docker: add ethereumoptimism/foundry docker image (#2946)
  .changeset/big-scissors-remain.md
  .github/workflows/release.yml
  ops/docker/foundry/Dockerfile
  ops/docker/foundry/package.json
  package.json
Due: none

ops: build with ethereumoptimism/foundry:latest
  .changeset/empty-pigs-argue.md
  ops/docker/Dockerfile.packages
  ops/docker/ci-builder/Dockerfile
Due: none

ops: use alpine:3.14 with foundry image
  .changeset/rude-ads-try.md
  ops/docker/foundry/Dockerfile
Due: none

contracts-bedrock: add tests for rlp-reader
  .changeset/sharp-apes-fold.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/Lib_RLPReader.t.sol
Due: lerna-packages-changed

ops: docker glibc
  ops/docker/Dockerfile.packages
Due: none

contracts: reorder hh config imports
  packages/contracts/hardhat.config.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

contracts-bedrock: add tests for rlp-reader (#2938)
  .changeset/sharp-apes-fold.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/Lib_RLPReader.t.sol
Due: lerna-packages-changed

contracts-bedrock: fix some compiler warnings
  .changeset/nice-meals-visit.md
  op-bindings/bindings/gaspriceoracle.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/libraries/Burn.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

contracts-bedrock: fix some compiler warnings (#2839)
  .changeset/nice-meals-visit.md
  op-bindings/bindings/gaspriceoracle.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/libraries/Burn.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

fix(ctb): bug computing L2 timestamp (#2880)
  .changeset/funny-garlics-arrive.md
  op-bindings/bindings/l2outputoracle.go
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/deploy-config/devnetL1.ts
Due: lerna-packages-changed, bedrock-go-packages-changed

fix(ctb): solc warnings in ProxyAdmin.sol
  .changeset/fresh-pugs-remain.md
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
Due: lerna-packages-changed

fix(ctb): solc warnings in ProxyAdmin.sol (#2952)
  .changeset/fresh-pugs-remain.md
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
Due: lerna-packages-changed

ci: Fix indexer tests, make them depend on op-bindings
  .changeset/sixty-lizards-cough.md
  .circleci/config.yml
  indexer/services/l1/bridge/addresses.go
Due: go-binaries-changed

ci: Fix indexer tests, make them depend on op-bindings (#2955)
  .changeset/sixty-lizards-cough.md
  .circleci/config.yml
  indexer/services/l1/bridge/addresses.go
Due: go-binaries-changed

Op Node: Fix one reorg bug
  op-node/rollup/driver/state.go
  packages/contracts-bedrock/deploy-config/devnetL1.ts
Due: lerna-packages-changed, bedrock-go-packages-changed

Op Node: Fix one reorg bug (#2956)
  op-node/rollup/driver/state.go
  packages/contracts-bedrock/deploy-config/devnetL1.ts
Due: lerna-packages-changed, bedrock-go-packages-changed

ci: add devnet to ci
  .circleci/config.yml
Due: none

ops: Use correct sequencer inbox value for the batch
  ops-bedrock/devnet-up.sh
Due: none

contracts-bedrock: reorder imports
  .circleci/config.yml
  packages/contracts-bedrock/hardhat.config.ts
Due: lerna-packages-changed

chore(ctb): Regenerate bindings and gas-snapshot
  op-bindings/bindings/l2outputoracle.go
  packages/contracts-bedrock/.gas-snapshot
Due: lerna-packages-changed, bedrock-go-packages-changed

style(ctb): Remove underscores from event args
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/legacy/AddressManager.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableTokenFactory.t.sol
Due: lerna-packages-changed

contracts-bedrock: snapshot
  packages/contracts-bedrock/.gas-snapshot
Due: lerna-packages-changed

op-bindings: regenerate
  op-bindings/bindings/addressmanager.go
Due: bedrock-go-packages-changed

contracts-bedrock: port RLPWriter tests
  .changeset/empty-nails-talk.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/RLPWriter.t.sol
Due: lerna-packages-changed

style(ctb): clean up legacy comments and errs
  .changeset/lazy-kiwis-jog.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L1Block.sol
  packages/contracts-bedrock/contracts/L2/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/legacy/AddressManager.sol
  packages/contracts-bedrock/contracts/legacy/AddressResolver.sol
  packages/contracts-bedrock/contracts/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/contracts/legacy/LegacyERC20ETH.sol
  packages/contracts-bedrock/contracts/legacy/ResolvedDelegateProxy.sol
  packages/contracts-bedrock/contracts/libraries/Burn.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
Due: lerna-packages-changed

feat(bedrock): regen bindings and update usage
  .changeset/popular-kangaroos-pretend.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  op-node/rollup/derive/deposit_log.go
  op-node/rollup/derive/fuzz_parsers_test.go
Due: bedrock-go-packages-changed

feat(bedrock): Add version to TransactionDeposited event
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  specs/deposits.md
Due: lerna-packages-changed, bedrock-markdown-changed

style(ctb): clean up legacy comments and errs (#2953)
  .changeset/lazy-kiwis-jog.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L1Block.sol
  packages/contracts-bedrock/contracts/L2/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/legacy/AddressManager.sol
  packages/contracts-bedrock/contracts/legacy/AddressResolver.sol
  packages/contracts-bedrock/contracts/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/contracts/legacy/LegacyERC20ETH.sol
  packages/contracts-bedrock/contracts/legacy/ResolvedDelegateProxy.sol
  packages/contracts-bedrock/contracts/libraries/Burn.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
Due: lerna-packages-changed

fix(ctb): rename token factory to erc20 factory
  .changeset/perfect-emus-perform.md
  op-bindings/predeploys/addresses.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20Factory.t.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/deploy/004-OptimismMintableTokenFactory.ts
  packages/contracts-bedrock/scripts/storage-snapshot.sh
  packages/contracts-bedrock/src/constants.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
  specs/bridges.md
  specs/predeploys.md
Due: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed

Path conditions:
  lerna-packages-changed: any of: packages/.*
  bedrock-go-packages-changed: any of: op-(batcher|bindings|e2e|node|proposer)/.*
  bedrock-markdown-changed: any of: specs/.*\.md
  go-binaries-changed: any of: (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.*
  l2geth-changed: any of: l2geth/.*
  itests-critical-lerna-package-changed: any of: packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.*
  itests-critical-go-package-changed: any of: (batch-submitter|gas-oracle|bss-core)/.*
  integration-tests-changed: any of: integration-tests/.*
