Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

op-node: Add more logging
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/engine_queue.go
Due: bedrock-go-packages-changed

op-node/l2: do not hash short values to get key
  op-node/l2/util.go
Due: bedrock-go-packages-changed

Goerli state commitment chain redeploy (#3071)
  .changeset/rude-rice-hammer.md
  packages/contracts/deploy-config/goerli.ts
  packages/contracts/deployments/goerli/AddressDictator.json
  packages/contracts/deployments/goerli/StateCommitmentChain.json
  packages/contracts/deployments/goerli/solcInputs/12afc2c6487cfec4471fc920fd475624.json
  packages/contracts/deployments/goerli/solcInputs/96c709f6604e7bd8a94077f137b56cbc.json
Due: lerna-packages-changed, itests-critical-lerna-package-changed

l2geth/eth/tracer: del legacy trace
  l2geth/eth/tracers/internal/tracers/4byte_tracer.js
  l2geth/eth/tracers/internal/tracers/assets.go
  l2geth/eth/tracers/internal/tracers/bigram_tracer.js
  l2geth/eth/tracers/internal/tracers/call_tracer.js
  l2geth/eth/tracers/internal/tracers/evmdis_tracer.js
  l2geth/eth/tracers/internal/tracers/noop_tracer.js
  l2geth/eth/tracers/internal/tracers/opcount_tracer.js
  l2geth/eth/tracers/internal/tracers/prestate_tracer.js
  l2geth/eth/tracers/internal/tracers/tracers.go
  l2geth/eth/tracers/internal/tracers/trigram_tracer.js
  l2geth/eth/tracers/internal/tracers/unigram_tracer.js
  l2geth/eth/tracers/testdata/call_tracer_create.json
  l2geth/eth/tracers/testdata/call_tracer_deep_calls.json
  l2geth/eth/tracers/testdata/call_tracer_delegatecall.json
  l2geth/eth/tracers/testdata/call_tracer_inner_create_oog_outer_throw.json
  l2geth/eth/tracers/testdata/call_tracer_inner_throw_outer_revert.json
  l2geth/eth/tracers/testdata/call_tracer_oog.json
  l2geth/eth/tracers/testdata/call_tracer_revert.json
  l2geth/eth/tracers/testdata/call_tracer_simple.json
  l2geth/eth/tracers/testdata/call_tracer_throw.json
  l2geth/eth/tracers/tracer.go
  l2geth/eth/tracers/tracer_test.go
Due: l2geth-changed

l2geth/core/vm: rm structed logger
  l2geth/core/vm/gen_structlog.go
  l2geth/core/vm/logger_json.go
Due: l2geth-changed

l2geth/eth: rm api-trace.go
  l2geth/eth/api_tracer.go
Due: l2geth-changed

l2geth/core/rawdb: badblock read write
  l2geth/core/rawdb/accessors_chain.go
  l2geth/core/rawdb/schema.go
Due: l2geth-changed

l2geth: use golang 1.17
  l2geth/go.mod
Due: l2geth-changed

l2geth/core/vm: adapte to native trace
  l2geth/core/vm/errors.go
  l2geth/core/vm/evm.go
  l2geth/core/vm/interpreter.go
  l2geth/core/vm/logger.go
Due: l2geth-changed

l2geth/eth/tracers: forward compatible to big.Int
  l2geth/eth/tracers/api.go
  l2geth/eth/tracers/js/goja.go
  l2geth/eth/tracers/logger/access_list_tracer.go
  l2geth/eth/tracers/logger/gen_structlog.go
  l2geth/eth/tracers/logger/logger.go
  l2geth/eth/tracers/native/4byte.go
  l2geth/eth/tracers/native/prestate.go
Due: l2geth-changed

l2geth/internal/ethapi: FormatLog is not used anymore
  l2geth/internal/ethapi/api.go
Due: l2geth-changed

l2geth/eth: keep the old trace api helper
  l2geth/eth/api.go
Due: l2geth-changed

l2geth/cmd/geth: force load native trace
  l2geth/cmd/geth/main.go
Due: l2geth-changed

l2geth/core/vm: rm logger_test.go
  l2geth/core/vm/logger_test.go
Due: l2geth-changed

l2geth/internal/ethapi: add StateOverrides,BlockOverrides
  l2geth/internal/ethapi/api.go
Due: l2geth-changed

l2geth/eth/tracers: add StateOverrides,BlockOverrides
  l2geth/eth/tracers/api.go
Due: l2geth-changed

l2geth/eth/tracers: fix the testcase
  l2geth/core/vm/runtime/runtime_test.go
  l2geth/eth/tracers/api.go
  l2geth/eth/tracers/api_test.go
  l2geth/eth/tracers/internal/tracetest/calltrace_test.go
  l2geth/eth/tracers/js/tracer_test.go
  l2geth/eth/tracers/logger/logger_test.go
  l2geth/eth/tracers/tracers_test.go
  l2geth/tests/state_test.go
Due: l2geth-changed

op-node: Add more logging (#3083)
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/engine_queue.go
Due: bedrock-go-packages-changed

feat(ctb): introduce extra data event to XDM
  .changeset/dull-coats-tap.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

feat(ctb): introduce extra data event to XDM (#3066)
  .changeset/dull-coats-tap.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

feat(ctb): export ABI when building (#3067)
  .changeset/empty-wolves-sit.md
  packages/contracts-bedrock/.eslintrc.js
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/generate-artifacts.ts
  packages/contracts-bedrock/src/contract-defs.ts
  packages/contracts-bedrock/src/index.ts
  packages/contracts-bedrock/tsconfig.json
Due: lerna-packages-changed

fix(sdk): throw a better error for bad chain ID (#3065)
  .changeset/lovely-mails-cry.md
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/test/cross-chain-messenger.spec.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

l2geth/core/vm: make evm.Config public
  l2geth/core/vm/evm.go
  l2geth/core/vm/instructions.go
  l2geth/core/vm/instructions_test.go
Due: l2geth-changed

l2geth/core: debug trace after precheck
  l2geth/core/state_transition.go
Due: l2geth-changed

l2geth/core/vm: backport errors.go
  l2geth/core/vm/errors.go
  l2geth/core/vm/evm.go
  l2geth/core/vm/instructions.go
  l2geth/core/vm/interpreter.go
Due: l2geth-changed

l2geth/core/vm: add opInvalid
  l2geth/core/vm/opcodes.go
Due: l2geth-changed

l2geth/core/vm: opSuicide should add trace info
  l2geth/core/vm/instructions.go
Due: l2geth-changed

l2geth/core/vm: fix the trace missing issues
  l2geth/core/vm/evm.go
Due: l2geth-changed

feat(sdk): Update the Goerli SCC contract address to the new value (#3082)
  .changeset/spotty-lobsters-juggle.md
  packages/sdk/src/utils/contracts.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

ops: update foundry docker image version
  .changeset/smart-pumpkins-jam.md
  ops/docker/foundry/Dockerfile
Due: none

ops: new ci-builder
  .changeset/pretty-olives-wink.md
Due: none

bedrock-goerli-96f44f79 deployment
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridgeProxy.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortalProxy.json
Due: lerna-packages-changed

added changeset
  .changeset/slimy-spoons-repair.md
Due: none

typo
  specs/glossary.md
Due: bedrock-markdown-changed

l2geth/core/vm: adapte the geth's trace logic
  l2geth/core/vm/contracts.go
  l2geth/core/vm/evm.go
Due: l2geth-changed

l2geth/core/vm: pass contracts_test.go
  l2geth/core/vm/contracts_test.go
Due: l2geth-changed

l2geth/core/vm: use Errxxx insttead of fmt.Errorf
  l2geth/core/vm/interpreter.go
Due: l2geth-changed

l2geth/core/vm: add INVALID into jump_table
  l2geth/core/vm/instructions.go
  l2geth/core/vm/jump_table.go
Due: l2geth-changed

Path conditions:
  lerna-packages-changed: any of: packages/.*
  bedrock-go-packages-changed: any of: op-(batcher|bindings|e2e|node|proposer)/.*
  bedrock-markdown-changed: any of: specs/.*\.md
  go-binaries-changed: any of: (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.*
  l2geth-changed: any of: l2geth/.*
  itests-critical-lerna-package-changed: any of: packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.*
  itests-critical-go-package-changed: any of: (batch-submitter|gas-oracle|bss-core)/.*
  integration-tests-changed: any of: integration-tests/.*
