Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

chore: add changeset
  .changeset/yellow-maps-clap.md
Due: none

op-node: syncstatus RPC endpoint
  op-node/node/api.go
  op-node/node/node.go
  op-node/node/server.go
  op-node/node/server_test.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
  op-node/testutils/random.go
Due: bedrock-go-packages-changed

op-proposer: extend RPC client bindings with sync status and version endpoint
  op-proposer/rollupclient/rollupclient.go
Due: bedrock-go-packages-changed

op-batcher: batch submitting starting from safe head, up to unsafe head
  op-batcher/batch_submitter.go
  op-batcher/config.go
  op-batcher/flags/flags.go
  op-batcher/sequencer/driver.go
  op-e2e/setup.go
  ops-bedrock/docker-compose.yml
Due: bedrock-go-packages-changed

fix output frame size
  op-batcher/batch_submitter.go
Due: bedrock-go-packages-changed

bedrock: fix import style, add SyncStatus doc comments
  op-batcher/batch_submitter.go
  op-node/node/api.go
  op-node/rollup/driver/state.go
  op-proposer/rollupclient/rollupclient.go
Due: bedrock-go-packages-changed

Bedrock: fix new batcher, use sync status api, start from safe head (#2897)
  op-batcher/batch_submitter.go
  op-batcher/config.go
  op-batcher/flags/flags.go
  op-batcher/sequencer/driver.go
  op-e2e/setup.go
  op-node/node/api.go
  op-node/node/node.go
  op-node/node/server.go
  op-node/node/server_test.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
  op-node/testutils/random.go
  op-proposer/rollupclient/rollupclient.go
  ops-bedrock/docker-compose.yml
Due: bedrock-go-packages-changed

ops-bedrock: delete dead config
  ops-bedrock/rollup.json
Due: none

contracts-bedrock: update max sequencer drift config
  packages/contracts-bedrock/deploy-config/devnetL1.ts
Due: lerna-packages-changed

contracts-bedrock: update max sequencer drift config (#2913)
  packages/contracts-bedrock/deploy-config/devnetL1.ts
Due: lerna-packages-changed

ops-bedrock: delete dead config (#2912)
  ops-bedrock/rollup.json
Due: none

devnet: Get devnet running
  op-batcher/batch_submitter.go
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/deploy-config/devnetL1.ts
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deploy-config/hardhat.ts
  packages/contracts-bedrock/deploy/000-L2OutputOracle.deploy.ts
  packages/contracts-bedrock/deployments/goerli/.chainId
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridge.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridgeProxy.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracle.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableTokenFactory.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableTokenFactoryProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortal.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortalProxy.json
  packages/contracts-bedrock/deployments/goerli/solcInputs/6658e3fd5601f689e56bcac3b135b23e.json
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/contracts-bedrock/tasks/rekey.ts
  packages/contracts-bedrock/tasks/rollup-config.ts
  yarn.lock
Due: lerna-packages-changed, bedrock-go-packages-changed

feat(ctb): use ERC721Enumerable for standard token
  packages/contracts-periphery/contracts/L1/messaging/L1ERC721Bridge.sol
  packages/contracts-periphery/contracts/L2/messaging/L2ERC721Bridge.sol
  packages/contracts-periphery/contracts/universal/op-erc721/IOptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721.sol
  packages/contracts-periphery/test/contracts/L2/messaging/L2ERC721Bridge.spec.ts
Due: lerna-packages-changed

op-node: check L1 origin changes when sequencing new blocks, ensure we catch bad inputs
  op-node/rollup/driver/step.go
Due: bedrock-go-packages-changed

wip: indexer
  go.work.sum
  indexer/.gitignore
  indexer/Makefile
  indexer/bindings/address_manager/address_manager.go
  indexer/config.go
  indexer/contracts/ERC20.sol/ERC20.dbg.json
  indexer/crypto.go
  indexer/crypto_test.go
  indexer/db/db.go
  indexer/db/sql.go
  indexer/db/withdrawal.go
  indexer/docker-compose.yaml
  indexer/docker.go.work
  indexer/flags/flags.go
  indexer/indexer.go
  indexer/services/l1/bridge/addresses.go
  indexer/services/l1/bridge/filter.go
  indexer/services/l1/handlers.go
  indexer/services/l1/query.go
  indexer/services/l1/service.go
  indexer/services/l2/handlers.go
  indexer/services/l2/service.go
  packages/contracts-bedrock/deploy/005-AddressManager.ts
  packages/contracts-bedrock/deploy/006-ProxyAdmin.ts
Due: lerna-packages-changed, go-binaries-changed

feat(ctb): use ERC721Enumerable for standard token (#2917)
  packages/contracts-periphery/contracts/L1/messaging/L1ERC721Bridge.sol
  packages/contracts-periphery/contracts/L2/messaging/L2ERC721Bridge.sol
  packages/contracts-periphery/contracts/universal/op-erc721/IOptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721.sol
  packages/contracts-periphery/test/contracts/L2/messaging/L2ERC721Bridge.spec.ts
Due: lerna-packages-changed

op-node: check L1 origin changes when sequencing new blocks, ensure we catch bad inputs (#2915)
  op-node/rollup/driver/step.go
Due: bedrock-go-packages-changed

fix(ctp): remove reinitialization from ERC721 fact
  packages/contracts-periphery/contracts/L1/messaging/L1ERC721Bridge.sol
  packages/contracts-periphery/contracts/L2/messaging/L2ERC721Bridge.sol
  packages/contracts-periphery/contracts/universal/Semver.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721Factory.sol
Due: lerna-packages-changed

feat(ctp): commit upgrade artifacts
  packages/contracts-periphery/deployments/kovan/L1ERC721Bridge.json
  packages/contracts-periphery/deployments/kovan/solcInputs/c6fd6c61d1988656e270189e3651a1e1.json
  packages/contracts-periphery/deployments/optimism-kovan/L2ERC721Bridge.json
  packages/contracts-periphery/deployments/optimism-kovan/OptimismMintableERC721Factory.json
  packages/contracts-periphery/deployments/optimism-kovan/solcInputs/c6fd6c61d1988656e270189e3651a1e1.json
Due: lerna-packages-changed

more cleanup
  indexer/Makefile
  indexer/config.go
  indexer/docker-compose.yaml
  indexer/flags/flags.go
  indexer/indexer.go
  indexer/server/server.go
  indexer/services/l1/service.go
  indexer/services/l2/handlers.go
  indexer/services/l2/service.go
Due: go-binaries-changed

contracts-bedrock: fix deposit helpers
  .changeset/many-walls-shave.md
  packages/contracts-bedrock/contracts/libraries/Lib_CrossDomainHashing.sol
  packages/contracts-bedrock/contracts/test/CrossDomainHashing.t.sol
  packages/contracts-bedrock/src/utils.ts
  packages/contracts-bedrock/tasks/deposits.ts
  packages/contracts-bedrock/test/helpers.spec.ts
Due: lerna-packages-changed

contracts-bedrock: fix snapshot
  packages/contracts-bedrock/.gas-snapshot
Due: lerna-packages-changed

contracts-bedrock: fix solhint ordering warnings
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/L2/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/contracts/legacy/Lib_AddressManager.sol
  packages/contracts-bedrock/contracts/libraries/Burn.sol
  packages/contracts-bedrock/contracts/libraries/rlp/Lib_RLPReader.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableTokenFactory.sol
  packages/contracts-bedrock/contracts/universal/Proxy.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Due: lerna-packages-changed

devnet: Get devnet running (#2914)
  op-batcher/batch_submitter.go
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/deploy-config/devnetL1.ts
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deploy-config/hardhat.ts
  packages/contracts-bedrock/deploy/000-L2OutputOracle.deploy.ts
  packages/contracts-bedrock/deployments/goerli/.chainId
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridge.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridgeProxy.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracle.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableTokenFactory.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableTokenFactoryProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortal.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortalProxy.json
  packages/contracts-bedrock/deployments/goerli/solcInputs/6658e3fd5601f689e56bcac3b135b23e.json
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/contracts-bedrock/tasks/rekey.ts
  packages/contracts-bedrock/tasks/rollup-config.ts
  yarn.lock
Due: lerna-packages-changed, bedrock-go-packages-changed

fix Exteral Tests (Synthetix)
  .github/workflows/ext-test-snx.yml
Due: none

test(ctb): unskip testCannot_AppendWithUnmatchedBlockhash
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
Due: lerna-packages-changed

test(ctb): unskip testCannot_AppendWithUnmatchedBlockhash (#2899)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
Due: lerna-packages-changed

fix(ctb): attribute LibRLP
  packages/contracts-bedrock/contracts/test/Lib_RLP.t.sol
Due: lerna-packages-changed

op-node/testlog: auto-adjust padding for test log alignment
  op-node/testlog/testlog.go
Due: bedrock-go-packages-changed

op-node/testlog: auto-adjust padding for test log alignment (#2928)
  op-node/testlog/testlog.go
Due: bedrock-go-packages-changed

contracts-bedrock: remove storage spacers (#2907)
  .changeset/old-seas-jump.md
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

contracts-bedrock: delete unused import
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20.t.sol
Due: lerna-packages-changed

fix(ctb): attribute LibRLP (#2927)
  packages/contracts-bedrock/contracts/test/Lib_RLP.t.sol
Due: lerna-packages-changed

chore: Add yarn-deduplicate script to deduplicate along with github action (#2900)
  .changeset/yellow-maps-clap.md
  .github/workflows/yarn-dedupe.yml
  package.json
  yarn.lock
Due: none

add todo please
  .eslintrc.js
  package.json
  yarn.lock
Due: none

make it warn instead so I don't have to fix every instance
  .eslintrc.js
Due: none

add an example
  packages/hardhat-deploy-config/src/type-extensions.ts
Due: lerna-packages-changed

run yarn dedupe
  yarn.lock
Due: none

run yarn dedupe (#2933)
  yarn.lock
Due: none

CI: Add go mod tidy check
  .circleci/config.yml
Due: none

Path conditions:
  lerna-packages-changed: any of: packages/.*
  bedrock-go-packages-changed: any of: op-(batcher|bindings|e2e|node|proposer)/.*
  bedrock-markdown-changed: any of: specs/.*\.md
  go-binaries-changed: any of: (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.*
  l2geth-changed: any of: l2geth/.*
  itests-critical-lerna-package-changed: any of: packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.*
  itests-critical-go-package-changed: any of: (batch-submitter|gas-oracle|bss-core)/.*
  integration-tests-changed: any of: integration-tests/.*
