Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

style(ctb): short library names
  .changeset/tender-bags-melt.md
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/legacy/LegacyERC20ETH.sol
  packages/contracts-bedrock/contracts/libraries/Bytes.sol
  packages/contracts-bedrock/contracts/libraries/Predeploys.sol
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/GasPriceOracle.t.sol
  packages/contracts-bedrock/contracts/test/L1BlockNumber.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/LegacyERC20ETH.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
Due: lerna-packages-changed

feat(ctb): include Semver version function
  .changeset/young-walls-fetch.md
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/gaspriceoracle_deployed.go
  op-bindings/bindings/l1block.go
  op-bindings/bindings/l1block_deployed.go
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/l2tol1messagepasser_deployed.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/Semver.t.sol
  packages/contracts-bedrock/contracts/universal/Semver.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

style(ctb): short library names (#3047)
  .changeset/tender-bags-melt.md
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/legacy/LegacyERC20ETH.sol
  packages/contracts-bedrock/contracts/libraries/Bytes.sol
  packages/contracts-bedrock/contracts/libraries/Predeploys.sol
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/GasPriceOracle.t.sol
  packages/contracts-bedrock/contracts/test/L1BlockNumber.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/LegacyERC20ETH.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
Due: lerna-packages-changed

feat(ctb): include Semver version function (#2997)
  .changeset/young-walls-fetch.md
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/gaspriceoracle_deployed.go
  op-bindings/bindings/l1block.go
  op-bindings/bindings/l1block_deployed.go
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/l2tol1messagepasser_deployed.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/Semver.t.sol
  packages/contracts-bedrock/contracts/universal/Semver.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

style(ctb): move legacy contracts to legacy folder
  .changeset/hot-panthers-think.md
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/legacy/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/legacy/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/test/DeployerWhitelist.t.sol
  packages/contracts-bedrock/contracts/test/L1BlockNumber.t.sol
Due: lerna-packages-changed

op-node: fix p2p static peers flag env var
  op-node/flags/p2p_flags.go
Due: bedrock-go-packages-changed

op-node: fix p2p static peers flag env var (#3054)
  op-node/flags/p2p_flags.go
Due: bedrock-go-packages-changed

redeployed goerli l1 contracts
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridge.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracle.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableERC20FactoryProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortal.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortalProxy.json
  packages/contracts-bedrock/deployments/goerli/solcInputs/2fa8540786b9185f15d2ec7eec37edde.json
Due: lerna-packages-changed

Added changeset
  .changeset/cold-coins-design.md
Due: none

Fixed timestamp
  packages/contracts-bedrock/deploy-config/goerli.ts
Due: lerna-packages-changed

op-e2e: deploy output oracle with correct config, de-duplicate block time and genesis setup info
  op-e2e/setup.go
  op-e2e/system_test.go
Due: bedrock-go-packages-changed

op-e2e: deploy output oracle with correct config, de-duplicate block time and genesis setup info (#3056)
  op-e2e/setup.go
  op-e2e/system_test.go
Due: bedrock-go-packages-changed

sync: Rollback to block with sequence number 0
  op-node/rollup/sync/start.go
Due: bedrock-go-packages-changed

fix: remove deposit tx subtype
  .changeset/pink-dancers-explain.md
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/core-utils/src/optimism/deposit-transaction.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

bedrock: update geth, deposit tx without sub-version
  go.work
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/go.mod
  op-bindings/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-e2e/setup.go
  op-node/go.mod
  op-node/go.sum
  op-node/l2/util.go
  op-node/node/server.go
  op-proposer/go.mod
  op-proposer/go.sum
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/core-utils/src/external/geth/geth-types.ts
Due: lerna-packages-changed, bedrock-go-packages-changed, itests-critical-lerna-package-changed

go: go.work.sum update
  go.work.sum
Due: none

fix: remove deposit tx subtype (#3036)
  .changeset/pink-dancers-explain.md
  go.work
  go.work.sum
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/go.mod
  op-bindings/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-e2e/setup.go
  op-node/go.mod
  op-node/go.sum
  op-node/l2/util.go
  op-node/node/server.go
  op-proposer/go.mod
  op-proposer/go.sum
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/core-utils/src/external/geth/geth-types.ts
  packages/core-utils/src/optimism/deposit-transaction.ts
Due: lerna-packages-changed, bedrock-go-packages-changed, itests-critical-lerna-package-changed

simplified overview draft + greatly expand glossary
  specs/derivation.md
  specs/glossary.md
Due: bedrock-markdown-changed

section on batch submission an encoding
  specs/derivation.md
  specs/glossary.md
Due: bedrock-markdown-changed

stages explanation
  specs/derivation.md
  specs/glossary.md
Due: bedrock-markdown-changed

edit resetting part of the spec
  specs/derivation.md
  specs/glossary.md
Due: bedrock-markdown-changed

rework pipeline description (& more)
  specs/derivation.md
  specs/glossary.md
Due: bedrock-markdown-changed

incorporate review feedback
  specs/derivation.md
Due: bedrock-markdown-changed

recover lost change
  specs/derivation.md
Due: bedrock-markdown-changed

style(ctb): move legacy contracts to legacy folder (#3043)
  .changeset/hot-panthers-think.md
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/legacy/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/legacy/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/test/DeployerWhitelist.t.sol
  packages/contracts-bedrock/contracts/test/L1BlockNumber.t.sol
Due: lerna-packages-changed

contracts-bedrock: add storage snapshot
  .circleci/config.yml
  packages/contracts-bedrock/.size-snapshot
  packages/contracts-bedrock/scripts/size-snapshot.sh
Due: lerna-packages-changed

rework payload attributes derivation section
  specs/derivation.md
  specs/glossary.md
Due: bedrock-markdown-changed

specs: toc fix
  specs/bridges.md
  specs/deposits.md
  specs/derivation.md
  specs/exec-engine.md
  specs/glossary.md
  specs/guaranteed-gas-market.md
  specs/introduction.md
  specs/messengers.md
  specs/meta/devnet.md
  specs/meta/versioning.md
  specs/overview.md
  specs/predeploys.md
  specs/proposals.md
  specs/rollup-node-p2p.md
  specs/rollup-node.md
  specs/withdrawals.md
Due: bedrock-markdown-changed

specs: misc lint fixes
  specs/derivation.md
  specs/glossary.md
  specs/meta/devnet.md
  specs/meta/versioning.md
  specs/rollup-node.md
Due: bedrock-markdown-changed

specs/meta: toc fix
  specs/meta/versioning.md
Due: bedrock-markdown-changed

feat(bedrock): getL2Output reverts if not found
  .changeset/hot-queens-accept.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

ctb: Remove extraneous abi encoding
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

getL2Output reverts if not found (#2979)
  .changeset/hot-queens-accept.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

Op-Node: Fix divergence due to bad reset logic (#3044)
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/sync/start.go
  op-node/rollup/sync/start_test.go
  op-node/testutils/mock_l1.go
Due: bedrock-go-packages-changed

spec: derivation spec rework (#2855)
  specs/assets/batch-deriv-chain.svg
  specs/assets/batch-deriv-pipeline.svg
  specs/bridges.md
  specs/deposits.md
  specs/derivation.md
  specs/exec-engine.md
  specs/glossary.md
  specs/guaranteed-gas-market.md
  specs/introduction.md
  specs/messengers.md
  specs/meta/devnet.md
  specs/meta/versioning.md
  specs/overview.md
  specs/predeploys.md
  specs/proposals.md
  specs/rollup-node-p2p.md
  specs/rollup-node.md
  specs/withdrawals.md
Due: bedrock-markdown-changed

core-utils: add encoding and hashing functions to core-utils
  .changeset/big-tables-bake.md
  packages/core-utils/src/optimism/encoding.ts
  packages/core-utils/src/optimism/hashing.ts
  packages/core-utils/src/optimism/index.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

ci: update
  .circleci/config.yml
Due: none

contracts-bedrock: differential fuzzing
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/differential-testing.ts
  packages/contracts-bedrock/scripts/ffiMakeProof.ts
  packages/contracts-bedrock/scripts/makeProof.ts
  packages/contracts-bedrock/src/generateProofs.ts
  packages/contracts-bedrock/src/index.ts
  packages/contracts-bedrock/src/trie-test-generator.ts
  packages/contracts-bedrock/test/helpers.spec.ts
  packages/contracts-bedrock/tsconfig.json
  yarn.lock
Due: lerna-packages-changed

contracts-bedrock: set fuzz runs to 512
  packages/contracts-bedrock/foundry.toml
Due: lerna-packages-changed

deps: update forge-std
  .changeset/strange-pillows-walk.md
  packages/contracts-periphery/package.json
  yarn.lock
Due: lerna-packages-changed

Path conditions:
  lerna-packages-changed: any of: packages/.*
  bedrock-go-packages-changed: any of: op-(batcher|bindings|e2e|node|proposer)/.*
  bedrock-markdown-changed: any of: specs/.*\.md
  go-binaries-changed: any of: (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.*
  l2geth-changed: any of: l2geth/.*
  itests-critical-lerna-package-changed: any of: packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.*
  itests-critical-go-package-changed: any of: (batch-submitter|gas-oracle|bss-core)/.*
  integration-tests-changed: any of: integration-tests/.*
