Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

bedrock-goerli regenesis b70872
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deployments/goerli/.chainId
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridge.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridgeProxy.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracle.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableERC20FactoryProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortal.json
  packages/contracts-bedrock/deployments/goerli/solcInputs/98b32181dddcc211ecf20a0f8159da6d.json
Due: lerna-packages-changed

contracts-bedrock: rename differential-testing method
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/scripts/differential-testing.ts
Due: lerna-packages-changed

contracts-bedrock: no sender as address(OptimismPortal)
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed

contracts-bedrock: differential fuzzing (#2980)
  .changeset/big-tables-bake.md
  .changeset/strange-pillows-walk.md
  .circleci/config.yml
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/differential-testing.ts
  packages/contracts-bedrock/scripts/ffiMakeProof.ts
  packages/contracts-bedrock/scripts/makeProof.ts
  packages/contracts-bedrock/src/generateProofs.ts
  packages/contracts-bedrock/src/index.ts
  packages/contracts-bedrock/src/trie-test-generator.ts
  packages/contracts-bedrock/test/helpers.spec.ts
  packages/contracts-bedrock/tsconfig.json
  packages/contracts-periphery/package.json
  packages/core-utils/src/optimism/encoding.ts
  packages/core-utils/src/optimism/hashing.ts
  packages/core-utils/src/optimism/index.ts
  yarn.lock
Due: lerna-packages-changed, itests-critical-lerna-package-changed

op-bindings: regenerate
  op-bindings/bindings/addressmanager.go
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/gaspriceoracle_deployed.go
  op-bindings/bindings/l1block.go
  op-bindings/bindings/l1block_deployed.go
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/l2tol1messagepasser_deployed.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
Due: bedrock-go-packages-changed

contracts-periphery: remove old compiler version
  packages/contracts-periphery/hardhat.config.ts
Due: lerna-packages-changed

contracts-bedrock: update versions
  packages/contracts-bedrock/contracts/libraries/Bytes.sol
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/libraries/Hashing.sol
  packages/contracts-bedrock/contracts/libraries/Predeploys.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPWriter.sol
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/libraries/trie/SecureMerkleTrie.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/contracts/universal/Proxy.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/contracts-bedrock/contracts/universal/SupportedInterfaces.sol
  packages/contracts-bedrock/contracts/vendor/AddressAliasHelper.sol
Due: lerna-packages-changed

contracts-periphery: add solc 0.8.15
  .changeset/stale-eyes-sell.md
  packages/contracts-periphery/hardhat.config.ts
Due: lerna-packages-changed

feat(ctb): introduce Types.sol
  .changeset/tricky-pugs-arrive.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/l2tol1messagepasser_deployed.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  op-e2e/system_test.go
  op-node/withdrawals/utils.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/libraries/Hashing.sol
  packages/contracts-bedrock/contracts/libraries/Types.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

contracts-bedrock: lint
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
Due: lerna-packages-changed

contracts-bedrock: storagelayout
  packages/contracts-bedrock/.storage-layout
Due: lerna-packages-changed

contracts-bedrock: update readme
  packages/contracts-bedrock/README.md
Due: lerna-packages-changed

Add Custom.sol with custom address types
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/libraries/TypedAddresses.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Due: lerna-packages-changed

feat(ctb): export ABI when building
  .changeset/empty-wolves-sit.md
  packages/contracts-bedrock/.eslintrc.js
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/generate-artifacts.ts
  packages/contracts-bedrock/src/contract-defs.ts
  packages/contracts-bedrock/src/index.ts
  packages/contracts-bedrock/tsconfig.json
Due: lerna-packages-changed

fix(ctb): bug in L2 genesis script
  .changeset/clever-news-smile.md
  packages/contracts-bedrock/tasks/genesis-l2.ts
Due: lerna-packages-changed

fix(sdk): throw a better error for bad chain ID
  .changeset/lovely-mails-cry.md
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/test/cross-chain-messenger.spec.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

linter: update config to new solc version
  .prettierrc.js
Due: none

feat(sdk): use clearer status enums
  .changeset/cyan-laws-glow.md
  packages/sdk/src/interfaces/types.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

fix(ctb): bug in L2 genesis script (#3068)
  .changeset/clever-news-smile.md
  packages/contracts-bedrock/tasks/genesis-l2.ts
Due: lerna-packages-changed

fix (op-proposer): use safe head in block range
  op-proposer/drivers/l2output/driver.go
Due: bedrock-go-packages-changed

Deploy goerli StateCommitmentChain to fix sccFaultProofWindowSeconds
  packages/contracts/deploy-config/goerli.ts
  packages/contracts/deployments/goerli/AddressDictator.json
  packages/contracts/deployments/goerli/StateCommitmentChain.json
  packages/contracts/deployments/goerli/solcInputs/12afc2c6487cfec4471fc920fd475624.json
  packages/contracts/deployments/goerli/solcInputs/96c709f6604e7bd8a94077f137b56cbc.json
Due: lerna-packages-changed, itests-critical-lerna-package-changed

Deploy goerli StateCommitmentChain to fix sccFaultProofWindowSeconds
  .changeset/rude-rice-hammer.md
Due: none

fix (op-proposer): use safe head in block range (#3057)
  op-proposer/drivers/l2output/driver.go
Due: bedrock-go-packages-changed

Add cloudbuild file for bedrock image builds
  cloudbuild.yaml
Due: none

redeploy
  packages/contracts/deployments/goerli/AddressDictator.json
  packages/contracts/deployments/goerli/StateCommitmentChain.json
Due: lerna-packages-changed, itests-critical-lerna-package-changed

contracts-bedrock: fix solhint ordering warnings
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/legacy/AddressManager.sol
  packages/contracts-bedrock/contracts/legacy/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/contracts/libraries/Burn.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/contracts/universal/Proxy.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Due: lerna-packages-changed

Fix Optimism Config in L2 Genesis builder
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/core-utils/src/external/geth/geth-types.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

packages/core-utils: bedrock config type fix
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/core-utils/src/external/geth/geth-types.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

packages/contracts-bedrock: update genesis l2 task import
  packages/contracts-bedrock/tasks/genesis-l2.ts
Due: lerna-packages-changed

packages/core-utils: bedrock - remove old todo comment
  packages/core-utils/src/external/geth/geth-types.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

contracts-bedrock: print receipt after deposit
  packages/contracts-bedrock/tasks/deposits.ts
Due: lerna-packages-changed

contracts-bedrock: fix imports
  packages/contracts-bedrock/tasks/genesis-l1.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/contracts-bedrock/tasks/rollup-config.ts
Due: lerna-packages-changed

Fix Optimism Config in L2 Genesis builder (#3075)
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/core-utils/src/external/geth/geth-types.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

bedrock-goerli deployment 707810c2fdc8a60ed6e3c71604acec4956ca6f58
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridgeProxy.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortalProxy.json
Due: lerna-packages-changed

chore(ctp): Bump solidity version to 0.8.15
  .changeset/fresh-peaches-remain.md
  packages/contracts-periphery/contracts/L1/L1ERC721Bridge.sol
  packages/contracts-periphery/contracts/L1/TeleportrDeposit.sol
  packages/contracts-periphery/contracts/L1/TeleportrWithdrawer.sol
  packages/contracts-periphery/contracts/L2/L2ERC721Bridge.sol
  packages/contracts-periphery/contracts/L2/TeleportrDisburser.sol
  packages/contracts-periphery/contracts/foundry-tests/AssetReceiver.t.sol
  packages/contracts-periphery/contracts/foundry-tests/TeleportrWithdrawer.t.sol
  packages/contracts-periphery/contracts/foundry-tests/Transactor.t.sol
  packages/contracts-periphery/contracts/testing/helpers/CallRecorder.sol
  packages/contracts-periphery/contracts/testing/helpers/ExternalContractCompiler.sol
  packages/contracts-periphery/contracts/testing/helpers/FailingReceiver.sol
  packages/contracts-periphery/contracts/testing/helpers/MockTeleportr.sol
  packages/contracts-periphery/contracts/testing/helpers/Reverter.sol
  packages/contracts-periphery/contracts/testing/helpers/SimpleStorage.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC20.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC721.sol
  packages/contracts-periphery/contracts/universal/AssetReceiver.sol
  packages/contracts-periphery/contracts/universal/Transactor.sol
  packages/contracts-periphery/contracts/universal/drippie/Drippie.sol
  packages/contracts-periphery/contracts/universal/drippie/IDripCheck.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckBalanceHigh.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckBalanceLow.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckGelatoLow.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckTrue.sol
  packages/contracts-periphery/contracts/universal/op-erc721/IOptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721Factory.sol
Due: lerna-packages-changed

chore(ctp): Bump solidity version to 0.8.15 (#3079)
  .changeset/fresh-peaches-remain.md
  packages/contracts-periphery/contracts/L1/L1ERC721Bridge.sol
  packages/contracts-periphery/contracts/L1/TeleportrDeposit.sol
  packages/contracts-periphery/contracts/L1/TeleportrWithdrawer.sol
  packages/contracts-periphery/contracts/L2/L2ERC721Bridge.sol
  packages/contracts-periphery/contracts/L2/TeleportrDisburser.sol
  packages/contracts-periphery/contracts/foundry-tests/AssetReceiver.t.sol
  packages/contracts-periphery/contracts/foundry-tests/TeleportrWithdrawer.t.sol
  packages/contracts-periphery/contracts/foundry-tests/Transactor.t.sol
  packages/contracts-periphery/contracts/testing/helpers/CallRecorder.sol
  packages/contracts-periphery/contracts/testing/helpers/ExternalContractCompiler.sol
  packages/contracts-periphery/contracts/testing/helpers/FailingReceiver.sol
  packages/contracts-periphery/contracts/testing/helpers/MockTeleportr.sol
  packages/contracts-periphery/contracts/testing/helpers/Reverter.sol
  packages/contracts-periphery/contracts/testing/helpers/SimpleStorage.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC20.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC721.sol
  packages/contracts-periphery/contracts/universal/AssetReceiver.sol
  packages/contracts-periphery/contracts/universal/Transactor.sol
  packages/contracts-periphery/contracts/universal/drippie/Drippie.sol
  packages/contracts-periphery/contracts/universal/drippie/IDripCheck.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckBalanceHigh.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckBalanceLow.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckGelatoLow.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckTrue.sol
  packages/contracts-periphery/contracts/universal/op-erc721/IOptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721Factory.sol
Due: lerna-packages-changed

feat(sdk): Update the Goerli SCC contract address to the new value
  packages/sdk/src/utils/contracts.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

feat(sdk): Bump the SDK version to 1.3.1
  .changeset/spotty-lobsters-juggle.md
Due: none

Path conditions:
  lerna-packages-changed: any of: packages/.*
  bedrock-go-packages-changed: any of: op-(batcher|bindings|e2e|node|proposer)/.*
  bedrock-markdown-changed: any of: specs/.*\.md
  go-binaries-changed: any of: (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.*
  l2geth-changed: any of: l2geth/.*
  itests-critical-lerna-package-changed: any of: packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.*
  itests-critical-go-package-changed: any of: (batch-submitter|gas-oracle|bss-core)/.*
  integration-tests-changed: any of: integration-tests/.*
