Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

jobs:
  semgrep-scan:
    parameters:
      diff_branch:
        type: string
        default: develop
    environment:
      TEMPORARY_BASELINE_REF: << parameters.diff_branch >>
      SEMGREP_REPO_URL: << pipeline.project.git_url >>
      SEMGREP_BRANCH: << pipeline.git.branch >>
      SEMGREP_COMMIT: << pipeline.git.revision >>

      # Change job timeout (default is 1800 seconds; set to 0 to disable)
      SEMGREP_TIMEOUT: 3000

    docker:
      - image: returntocorp/semgrep
    resource_class: xlarge
    steps:
      - checkout
      - unless:
          condition:
            equal: [ "develop", << pipeline.git.branch >> ]
          steps:
            - run:
                # Scan changed files in PRs, block on new issues only (existing issues ignored)
                # Do a full scan when scanning develop, otherwise do an incremental scan.
                name: "Conditionally set BASELINE env var"
                command: |
                  echo 'export SEMGREP_BASELINE_REF=${TEMPORARY_BASELINE_REF}' >> $BASH_ENV
      - run:
          name: "Set environment variables" # for PR comments and in-app hyperlinks to findings
          command: |
            echo 'export SEMGREP_PR_ID=${CIRCLE_PULL_REQUEST##*/}' >> $BASH_ENV
            echo 'export SEMGREP_JOB_URL=$CIRCLE_BUILD_URL' >> $BASH_ENV
            echo 'export SEMGREP_REPO_NAME=$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME' >> $BASH_ENV
      - run:
          name: "Semgrep scan"
          command: semgrep ci

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-modifications
          mapping: |
            packages/.* lerna-packages-changed true
            op-(batcher|bindings|e2e|node|proposer)/.* bedrock-go-packages-changed true
            specs/.*\.md bedrock-markdown-changed true
            (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.* go-binaries-changed true
            l2geth/.* l2geth-changed true
            packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.* itests-critical-lerna-package-changed true
            (batch-submitter|gas-oracle|bss-core)/.* itests-critical-go-package-changed true
            integration-tests/.* integration-tests-changed true
          base-revision: develop
          config-path: .circleci/config-packages.yml
      - semgrep-scan

op-node: ChannelOut doc comments
  op-node/rollup/derive/channel_out.go
Due: bedrock-go-packages-changed

ops-bedrock: fix channel timeout format and value
  ops-bedrock/docker-compose.yml
Due: none

op-node: channel ID terminal string
  op-node/rollup/derive/channel_out.go
  op-node/rollup/derive/params.go
Due: bedrock-go-packages-changed

ops-bedrock: set channel timeout larger than L1 block time, increase seq window size to 4
  ops-bedrock/docker-compose.yml
  ops-bedrock/rollup.json
Due: none

fix devnet genesis tool
  packages/contracts-bedrock/deploy-config/devnetL1.ts
  packages/contracts-bedrock/deploy-config/hardhat.ts
  packages/contracts-bedrock/tasks/rollup-config.ts
  packages/core-utils/src/optimism/op-node.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

sanity check channel timeout is not 0 in rollup config check
  op-node/rollup/types.go
Due: bedrock-go-packages-changed

op-e2e: get rid of unused temp batcher db file
  op-e2e/setup.go
Due: bedrock-go-packages-changed

feat(ctp): install kovan faucet drip
  packages/contracts-periphery/config/drippie/kovan.ts
Due: lerna-packages-changed

relax p2p propagation time, it was too close to L1 block time
  op-node/p2p/gossip.go
  specs/rollup-node-p2p.md
Due: bedrock-go-packages-changed, bedrock-markdown-changed

fix(ctp): bugs in Mintable ERC721 (#2864)
  .changeset/strange-pets-draw.md
  integration-tests/test/nft-bridge.spec.ts
  packages/contracts-periphery/contracts/universal/op-erc721/IOptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721Factory.sol
  packages/contracts-periphery/deploy/nft-bridge/OptimismMintableERC721FactoryImplementation.ts
  packages/contracts-periphery/test/contracts/L2/messaging/L2ERC721Bridge.spec.ts
  packages/contracts-periphery/test/contracts/universal/OptimismMintableERC721.spec.ts
  packages/contracts-periphery/test/contracts/universal/OptimismMintableERC721Factory.spec.ts
Due: lerna-packages-changed, integration-tests-changed

spec: fix typos (#2867)
  specs/bridges.md
  specs/deposits.md
  specs/exec-engine.md
  specs/glossary.md
  specs/guaranteed-gas-market.md
  specs/introduction.md
  specs/messengers.md
  specs/overview.md
  specs/predeploys.md
  specs/proposals.md
  specs/rollup-node-p2p.md
  specs/rollup-node.md
  specs/withdrawals.md
Due: bedrock-markdown-changed

fix FillMissingBatches edge case, and correct spec off by 1
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/l1_block_info_test.go
  specs/rollup-node.md
Due: bedrock-go-packages-changed, bedrock-markdown-changed

op-node: wrap derivation error with stage index for debugging
  op-node/rollup/derive/pipeline.go
Due: bedrock-go-packages-changed

op-e2e: Use correct base fee in fees test
  op-e2e/system_test.go
Due: bedrock-go-packages-changed

op-e2e: Use correct base fee in fees test (#2888)
  op-e2e/system_test.go
Due: bedrock-go-packages-changed

default idleDerivation to false, to not sequence new blocks before syncing
  op-node/rollup/driver/state.go
Due: bedrock-go-packages-changed

feat(ctp): install kovan faucet drip
  packages/contracts-periphery/config/drippie/optimism-kovan.ts
  packages/contracts-periphery/src/config/drippie.ts
Due: lerna-packages-changed

genesis: Reduce number of predeploys
  packages/contracts-bedrock/tasks/genesis-l2.ts
Due: lerna-packages-changed

genesis: Reduce number of predeploys (#2889)
  packages/contracts-bedrock/tasks/genesis-l2.ts
Due: lerna-packages-changed

--wip-- [skip ci]
  op-node/rollup/driver/state.go
Due: bedrock-go-packages-changed

--wip-- [skip ci]
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridge.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracle.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableTokenFactory.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortal.json
Due: lerna-packages-changed

--wip-- [skip ci]
  op-node/rollup/driver/state.go
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/rollup.json
  packages/contracts-bedrock/tasks/rollup-config.ts
Due: lerna-packages-changed, bedrock-go-packages-changed

feat(ctp): install kovan faucet drip (#2884)
  packages/contracts-periphery/config/drippie/optimism-kovan.ts
  packages/contracts-periphery/src/config/drippie.ts
Due: lerna-packages-changed

ci: Fix contracts bedrock tests
  .circleci/config.yml
Due: none

ci: Fix contracts bedrock tests (#2891)
  .circleci/config.yml
Due: none

ci-builder: update foundry + add release changeset
  .changeset/twelve-days-perform.md
  ops/docker/ci-builder/Dockerfile
  package.json
Due: none

ci: ci-builder release github action
  .github/workflows/release.yml
Due: none

ops: use nightly foundry
  ops/docker/Dockerfile.packages
Due: none

fix FillMissingBatches edge case, and correct spec off by 1
  op-node/rollup/derive/batches.go
  specs/rollup-node.md
Due: bedrock-go-packages-changed, bedrock-markdown-changed

feat(ctb): add SentMessageV2 event to XDM
  .changeset/wet-rivers-perform.md
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/package.json
Due: lerna-packages-changed

feat(sdk): add support for Bedrock
  .changeset/real-bikes-shave.md
  packages/sdk/hardhat.config.ts
  packages/sdk/package.json
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/src/utils/merkle-utils.ts
  packages/sdk/src/utils/message-encoding.ts
  packages/sdk/test/contracts/MessageEncodingHelper.sol
  packages/sdk/test/contracts/MockBridge.sol
  packages/sdk/test/contracts/MockMessenger.sol
  packages/sdk/test/cross-chain-messenger.spec.ts
  packages/sdk/test/helpers/constants.ts
  packages/sdk/test/utils/message-encoding.spec.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

wip: various bugs
  packages/sdk/src/adapters/eth-bridge.ts
  packages/sdk/src/interfaces/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/chain-constants.ts
  packages/sdk/src/utils/contracts.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

wip: fixs
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/deploy/002-L1CrossDomainMessenger.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/src/utils/message-encoding.ts
  yarn.lock
Due: lerna-packages-changed, itests-critical-lerna-package-changed

wip
  packages/contracts-bedrock/tasks/genesis-l2.ts
  yarn.lock
Due: lerna-packages-changed

wip
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/generate-artifacts.ts
  packages/contracts-bedrock/src/contract-defs.ts
  packages/contracts-bedrock/src/index.ts
  packages/contracts-bedrock/tasks/genesis-l1.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/sdk/package.json
  packages/sdk/src/adapters/eth-bridge.ts
  packages/sdk/src/adapters/standard-bridge.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/src/utils/message-encoding.ts
  yarn.lock
Due: lerna-packages-changed, itests-critical-lerna-package-changed

batch Epoch() method, improve logging of batch filter
  op-node/rollup/derive/batch.go
  op-node/rollup/derive/batches.go
Due: bedrock-go-packages-changed

make engine API logging less verbose
  op-node/l2/source.go
Due: bedrock-go-packages-changed
