Repository ethereum-optimism/optimism: changes, and which CircleCI parameters are due for each by the changed paths.
All: lerna-packages-changed, bedrock-go-packages-changed, bedrock-markdown-changed, go-binaries-changed, l2geth-changed, itests-critical-lerna-package-changed, itests-critical-go-package-changed, integration-tests-changed

fix state-viz
  op-node/cmd/stateviz/assets/index.html
  op-node/cmd/stateviz/assets/main.js
  op-node/cmd/stateviz/main.go
Due: bedrock-go-packages-changed

uncomment snapshot logging, defer json encoding
  op-node/node/node.go
  op-node/rollup/driver/state.go
  op-node/service.go
Due: bedrock-go-packages-changed

fix Progress update
  op-node/rollup/derive/progress.go
Due: bedrock-go-packages-changed

feat(ctb): use external version of ESC
  .changeset/forty-pots-live.md
  package.json
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/libraries/ExcessivelySafeCall.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
  yarn.lock
Due: lerna-packages-changed

style(ctb): tweaks to L2 contracts
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L2/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/L2/OVM_ETH.sol
Due: lerna-packages-changed

wip: indexer
  go.work.sum
  indexer/.gitignore
  indexer/Makefile
  indexer/bindings/address_manager/address_manager.go
  indexer/config.go
  indexer/contracts/ERC20.sol/ERC20.dbg.json
  indexer/crypto.go
  indexer/crypto_test.go
  indexer/db/db.go
  indexer/db/sql.go
  indexer/db/withdrawal.go
  indexer/docker-compose.yaml
  indexer/docker.go.work
  indexer/flags/flags.go
  indexer/indexer.go
  indexer/services/l1/bridge/addresses.go
  indexer/services/l1/bridge/filter.go
  indexer/services/l1/query.go
  indexer/services/l1/service.go
  packages/contracts-bedrock/deploy/005-AddressManager.ts
  packages/contracts-bedrock/deploy/006-ProxyAdmin.ts
Due: lerna-packages-changed, go-binaries-changed

snapshot log
  op-e2e/setup.go
Due: bedrock-go-packages-changed

style(ctb): tweaks to L2 contracts (#2886)
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L2/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/L2/OVM_ETH.sol
Due: lerna-packages-changed

feat(ctb): standardize initialization logic for L1
  .changeset/mean-rings-attack.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
Due: lerna-packages-changed

feat(ctp): upgraded ERC721 factory on OP kovan
  packages/contracts-periphery/deployments/optimism-kovan/OptimismMintableERC721Factory.json
  packages/contracts-periphery/deployments/optimism-kovan/solcInputs/c57aceeefb41333c52700bf88a7434fe.json
Due: lerna-packages-changed

feat(ctb): add SentMessageV2 event to XDM
  .changeset/wet-rivers-perform.md
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/package.json
Due: lerna-packages-changed

feat(sdk): add support for Bedrock
  .changeset/real-bikes-shave.md
  packages/sdk/hardhat.config.ts
  packages/sdk/package.json
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/src/utils/merkle-utils.ts
  packages/sdk/src/utils/message-encoding.ts
  packages/sdk/test/contracts/MessageEncodingHelper.sol
  packages/sdk/test/contracts/MockBridge.sol
  packages/sdk/test/contracts/MockMessenger.sol
  packages/sdk/test/cross-chain-messenger.spec.ts
  packages/sdk/test/helpers/constants.ts
  packages/sdk/test/utils/message-encoding.spec.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

wip
  packages/contracts-bedrock/tasks/genesis-l2.ts
  yarn.lock
Due: lerna-packages-changed

wip: fixs
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/deploy/002-L1CrossDomainMessenger.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/src/utils/message-encoding.ts
  yarn.lock
Due: lerna-packages-changed, itests-critical-lerna-package-changed

wip: various bugs
  packages/sdk/src/adapters/eth-bridge.ts
  packages/sdk/src/interfaces/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/chain-constants.ts
  packages/sdk/src/utils/contracts.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

wip
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/generate-artifacts.ts
  packages/contracts-bedrock/src/contract-defs.ts
  packages/contracts-bedrock/src/index.ts
  packages/contracts-bedrock/tasks/genesis-l1.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/sdk/package.json
  packages/sdk/src/adapters/eth-bridge.ts
  packages/sdk/src/adapters/standard-bridge.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/src/utils/message-encoding.ts
  yarn.lock
Due: lerna-packages-changed, itests-critical-lerna-package-changed

feat(ctb): use external version of ESC (#2890)
  .changeset/forty-pots-live.md
  package.json
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/libraries/ExcessivelySafeCall.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
  yarn.lock
Due: lerna-packages-changed

wip
  packages/contracts-bedrock/package.json
  packages/sdk/src/cross-chain-messenger.ts
Due: lerna-packages-changed, itests-critical-lerna-package-changed

op-node: syncstatus RPC endpoint
  op-node/node/api.go
  op-node/node/node.go
  op-node/node/server.go
  op-node/node/server_test.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
  op-node/testutils/random.go
Due: bedrock-go-packages-changed

op-proposer: extend RPC client bindings with sync status and version endpoint
  op-proposer/rollupclient/rollupclient.go
Due: bedrock-go-packages-changed

op-batcher: batch submitting starting from safe head, up to unsafe head
  op-batcher/batch_submitter.go
  op-batcher/config.go
  op-batcher/flags/flags.go
  op-batcher/sequencer/driver.go
  op-e2e/setup.go
  ops-bedrock/docker-compose.yml
Due: bedrock-go-packages-changed

op-bindings: update
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
Due: bedrock-go-packages-changed

contracts-bedrock: fix slither
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/slither.sh
Due: lerna-packages-changed

feat(ctp): upgraded ERC721 factory on OP kovan (#2895)
  packages/contracts-periphery/deployments/optimism-kovan/OptimismMintableERC721Factory.json
  packages/contracts-periphery/deployments/optimism-kovan/solcInputs/c57aceeefb41333c52700bf88a7434fe.json
Due: lerna-packages-changed

fix FillMissingBatches edge case, and correct spec off by 1 (#2893)
  op-node/rollup/derive/batches.go
  specs/rollup-node.md
Due: bedrock-go-packages-changed, bedrock-markdown-changed

feat(ctp): add solidity tests with foundry
  .gitignore
  package.json
  packages/contracts-periphery/.depcheckrc
  packages/contracts-periphery/.gas-snapshot
  packages/contracts-periphery/.solcover.js
  packages/contracts-periphery/.solhintignore
  packages/contracts-periphery/contracts/foundry-tests/AssetReceiver.t.sol
  packages/contracts-periphery/contracts/foundry-tests/TeleportrWithdrawer.t.sol
  packages/contracts-periphery/contracts/foundry-tests/Transactor.t.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC20.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC721.sol
  packages/contracts-periphery/foundry.toml
  packages/contracts-periphery/hardhat.config.ts
  packages/contracts-periphery/package.json
Due: lerna-packages-changed

feat(ctp): add solidity tests with foundry (#2585)
  .gitignore
  package.json
  packages/contracts-periphery/.depcheckrc
  packages/contracts-periphery/.gas-snapshot
  packages/contracts-periphery/.solcover.js
  packages/contracts-periphery/.solhintignore
  packages/contracts-periphery/contracts/foundry-tests/AssetReceiver.t.sol
  packages/contracts-periphery/contracts/foundry-tests/TeleportrWithdrawer.t.sol
  packages/contracts-periphery/contracts/foundry-tests/Transactor.t.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC20.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC721.sol
  packages/contracts-periphery/foundry.toml
  packages/contracts-periphery/hardhat.config.ts
  packages/contracts-periphery/package.json
Due: lerna-packages-changed

make: Add devnet-logs command
  Makefile
Due: none

rewind functionality for channel-out
  op-node/rollup/derive/channel_out.go
Due: bedrock-go-packages-changed

make: Add devnet-logs command (#2903)
  Makefile
Due: none

feat(ctb): standardize initialization logic for L1 (#2885)
  .changeset/mean-rings-attack.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
Due: lerna-packages-changed, bedrock-go-packages-changed

contract-bedrock: fix initialization logic
  .changeset/shaggy-chicken-wonder.md
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/deploy/002-L1CrossDomainMessenger.ts
  packages/contracts-bedrock/deploy/003-L1StandardBridge.ts
  yarn.lock
Due: lerna-packages-changed

fix(common-ts): fix coverage command
  packages/common-ts/package.json
Due: lerna-packages-changed, itests-critical-lerna-package-changed

contract-bedrock: fix initialization logic (#2905)
  .changeset/shaggy-chicken-wonder.md
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/deploy/002-L1CrossDomainMessenger.ts
  packages/contracts-bedrock/deploy/003-L1StandardBridge.ts
  yarn.lock
Due: lerna-packages-changed

contracts-bedrock: remove storage spacers
  .changeset/old-seas-jump.md
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

contracts-bedrock: document msgNonce
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Due: lerna-packages-changed

ci: Only run legacy itests when legacy contracts change
  .circleci/config.yml
Due: none

ci: Only run legacy itests when legacy contracts change (#2909)
  .circleci/config.yml
Due: none

add yarn-deduplicate
  .github/workflows/yarn-dedupe.yml
  package.json
  yarn.lock
Due: none

add to postinstall script
  package.json
Due: none

Path conditions:
  lerna-packages-changed: any of: packages/.*
  bedrock-go-packages-changed: any of: op-(batcher|bindings|e2e|node|proposer)/.*
  bedrock-markdown-changed: any of: specs/.*\.md
  go-binaries-changed: any of: (batch-submitter|proxyd|gas-oracle|indexer|bss-core|teleportr)/.*
  l2geth-changed: any of: l2geth/.*
  itests-critical-lerna-package-changed: any of: packages/(common-ts|contracts|core-utils|message-relayer|data-transport-layer|replica-healthcheck|sdk)/.*
  itests-critical-go-package-changed: any of: (batch-submitter|gas-oracle|bss-core)/.*
  integration-tests-changed: any of: integration-tests/.*
